Repository iorate/ublacklist: changes, and which lefthook commands are due for each by the changed paths.
All: biome, prettier

biome:
  run: pnpm biome check --apply --no-errors-on-unmatched {staged_files}
  stage_fixed: true

prettier:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

Replace the label components with CSS Modules (#897)
  src/scripts/components/label.module.css
  src/scripts/components/label.tsx
  src/scripts/options/about-section.tsx
  src/scripts/options/appearance-section.tsx
  src/scripts/options/backup-restore-section.tsx
  src/scripts/options/general-section.tsx
  src/scripts/options/set-boolean-item.tsx
  src/scripts/options/set-interval-item.tsx
  src/scripts/options/subscription-section/add-dialog.tsx
  src/scripts/options/subscription-section/index.tsx
  src/scripts/options/subscription-section/rename-dialog.tsx
  src/scripts/options/subscription-section/row.tsx
  src/scripts/options/sync-section.tsx
  src/scripts/serpinfo-options/index.tsx
  src/scripts/shared/enable-subscription-url.tsx
Due: biome, prettier

Extract the SERP page matching into a shared predicate (#913)
  src/scripts/content-script/index.ts
  src/scripts/popup/serpinfo.tsx
  src/scripts/shared/serpinfo-match.ts
Due: biome

Rename the ub-root class to root (#890)
  src/scripts/components/theme.css
  src/scripts/components/theme.tsx
Due: biome, prettier

Add end-to-end smoke tests for the options page (#887)
  e2e/tests/options.spec.ts
  src/scripts/options/general-section.tsx
  src/scripts/options/set-boolean-item.tsx
  src/scripts/options/set-interval-item.tsx
  src/scripts/options/subscription-section.tsx
Due: biome

Unify components to function declarations without forwardRef (#899)
  src/scripts/components/dialog.tsx
  src/scripts/components/editor.tsx
  src/scripts/options/about-section.tsx
  src/scripts/options/appearance-section.tsx
  src/scripts/options/backup-restore-section.tsx
  src/scripts/options/from-now.tsx
  src/scripts/options/general-section.tsx
  src/scripts/options/index.tsx
  src/scripts/options/ruleset-editor.tsx
  src/scripts/options/set-boolean-item.tsx
  src/scripts/options/set-interval-item.tsx
  src/scripts/options/subscription-section/add-dialog.tsx
  src/scripts/options/subscription-section/index.tsx
  src/scripts/options/subscription-section/rename-dialog.tsx
  src/scripts/options/subscription-section/row.tsx
  src/scripts/options/subscription-section/show-dialog.tsx
  src/scripts/options/sync-section.tsx
  src/scripts/popup/index.tsx
Due: biome

Remove the sync reload button from the options page (#902)
  .changeset/lazy-moons-refresh.md
  src/_locales/en/messages.json
  src/scripts/background/sync.ts
  src/scripts/options/sync-section.tsx
  src/scripts/shared/message-names.generated.ts
  src/scripts/shared/messages.ts
Due: biome, prettier

Skip afterSync hooks when the sync result is not saved (#912)
  src/scripts/background/sync.ts
Due: biome

Replace the switch, checkbox, and radio button with Base UI (#891)
  package.json
  pnpm-lock.yaml
  src/scripts/components/checkbox.module.css
  src/scripts/components/checkbox.tsx
  src/scripts/components/radio-button.tsx
  src/scripts/components/radio.module.css
  src/scripts/components/switch.module.css
  src/scripts/components/switch.tsx
  src/scripts/options/appearance-section.tsx
  src/scripts/options/general-section.tsx
  src/scripts/options/set-boolean-item.tsx
  src/scripts/options/subscription-section.tsx
  src/scripts/options/sync-section.tsx
  src/scripts/popup/serpinfo.tsx
  src/scripts/serpinfo-options/index.tsx
Due: biome, prettier

Remove the AltURL class (#914)
  src/scripts/options/sync-section.tsx
  src/scripts/shared/permissions.ts
  src/scripts/shared/utilities.ts
Due: biome

Remove dead code and correct the parseJSON return type (#909)
  src/scripts/background/raw-storage.ts
  src/scripts/background/sync-sections.test.ts
  src/scripts/shared/local-storage.ts
  src/scripts/shared/utilities.ts
Due: biome

Add changesets for the v10 refactoring (#904)
  .changeset/proud-panels-rebuild.md
  .changeset/slim-scripts-shrink.md
Due: prettier

Fix the block dialog failing to open in Firefox (#906)
  src/scripts/block-dialog/index.tsx
Due: biome

Separate token management and rename cloud modules to sync backends (#903)
  src/scripts/background/index.ts
  src/scripts/background/sync-backends.ts
  src/scripts/background/sync.ts
  src/scripts/clouds/webdav.ts
  src/scripts/options/sync-section.tsx
  src/scripts/shared/messages.ts
  src/scripts/shared/supported-clouds.ts
  src/scripts/shared/types.ts
  src/scripts/sync-backends/browser-sync.ts
  src/scripts/sync-backends/cloud.test.ts
  src/scripts/sync-backends/cloud.ts
  src/scripts/sync-backends/dropbox.ts
  src/scripts/sync-backends/google-drive.ts
  src/scripts/sync-backends/helpers.ts
  src/scripts/sync-backends/webdav.ts
Due: biome

Migrate the select to Base UI (#894)
  e2e/tests/options.spec.ts
  src/scripts/components/select.module.css
  src/scripts/components/select.tsx
  src/scripts/options/general-section.tsx
  src/scripts/options/select.tsx
  src/scripts/options/set-interval-item.tsx
  src/scripts/options/subscription-section/add-dialog.tsx
  src/scripts/options/sync-section.tsx
Due: biome, prettier

Load the block dialog lazily in the content script (#886)
  scripts/build.ts
  src/manifest.ts
  src/scripts/block-dialog/index.tsx
  src/scripts/content-script/commands.ts
  src/scripts/content-script/dialog.ts
  src/scripts/content-script/dialog.tsx
  src/scripts/content-script/filter.ts
  src/scripts/shared/interactive-ruleset.test.ts
  src/scripts/shared/interactive-ruleset.ts
Due: biome

Migrate dialogs to Base UI and unmount them on close (#892)
  src/scripts/block-dialog/index.tsx
  src/scripts/components/dialog.module.css
  src/scripts/components/dialog.tsx
  src/scripts/components/legacy-dialog.tsx
  src/scripts/components/portal.tsx
  src/scripts/components/utilities.ts
  src/scripts/options/general-section.tsx
  src/scripts/options/index.tsx
  src/scripts/options/subscription-section.ts
  src/scripts/options/subscription-section.tsx
  src/scripts/options/subscription-section/add-dialog.tsx
  src/scripts/options/subscription-section/index.tsx
  src/scripts/options/subscription-section/rename-dialog.tsx
  src/scripts/options/subscription-section/row.tsx
  src/scripts/options/subscription-section/show-dialog.tsx
  src/scripts/options/sync-section.tsx
  src/scripts/popup/serpinfo.tsx
  src/scripts/serpinfo-options/index.tsx
Due: biome, prettier

Manage options page state with zustand (#889)
  src/scripts/components/theme.tsx
  src/scripts/options/appearance-section.tsx
  src/scripts/options/general-section.tsx
  src/scripts/options/index.tsx
  src/scripts/options/options-context.tsx
  src/scripts/options/platform.ts
  src/scripts/options/select.tsx
  src/scripts/options/set-boolean-item.tsx
  src/scripts/options/set-interval-item.tsx
  src/scripts/options/subscription-section.tsx
  src/scripts/options/sync-section.tsx
Due: biome

Reflect appearance color settings changed by sync in real time (#907)
  src/scripts/options/appearance-section.tsx
Due: biome

Introduce CSS modules and CSS variable based theming (#888)
  src/pages/options.html
  src/pages/popup.html
  src/pages/serpinfo-options.html
  src/scripts/components/badge.module.css
  src/scripts/components/badge.tsx
  src/scripts/components/baseline.css
  src/scripts/components/baseline.tsx
  src/scripts/components/theme.css
  src/scripts/components/theme.tsx
  src/scripts/options/index.tsx
  src/scripts/popup/index.tsx
  src/scripts/serpinfo-options/index.tsx
  src/scripts/shared/globals.ts
Due: biome, prettier

Migrate the subscription menu to Base UI (#893)
  src/scripts/block-dialog/index.tsx
  src/scripts/components/legacy-menu.tsx
  src/scripts/components/menu.module.css
  src/scripts/components/menu.tsx
  src/scripts/options/subscription-section/row.tsx
Due: biome, prettier

Cover unblocking in the blocking end-to-end test (#908)
  e2e/tests/blocking.spec.ts
Due: biome

Disable the OK button while connecting to browser sync (#910)
  src/scripts/options/sync-section.tsx
Due: biome

Migrate the color picker popover to Base UI (#895)
  .changeset/tidy-pugs-repair.md
  src/scripts/components/color-picker.module.css
  src/scripts/components/color-picker.tsx
  src/scripts/components/constants.ts
  src/scripts/options/appearance-section.tsx
Due: biome, prettier

New Crowdin translations by GitHub Action
  src/_locales/de/messages.json
  src/_locales/es/messages.json
  src/_locales/fr/messages.json
  src/_locales/ja/messages.json
  src/_locales/ko/messages.json
  src/_locales/pl/messages.json
  src/_locales/pt_BR/messages.json
  src/_locales/ru/messages.json
  src/_locales/tr/messages.json
  src/_locales/uk/messages.json
  src/_locales/zh_CN/messages.json
  src/_locales/zh_TW/messages.json
Due: biome

Respect existing alarms for sync and subscription updates on startup
  .changeset/fair-clocks-obey.md
  src/scripts/background/index.ts
  src/scripts/background/subscriptions.ts
  src/scripts/background/sync.ts
Due: biome, prettier

Respect existing alarms for sync and subscription updates on startup (#917)
  .changeset/fair-clocks-obey.md
  src/scripts/background/index.ts
  src/scripts/background/subscriptions.ts
  src/scripts/background/sync.ts
Due: biome, prettier

Increase the font size of text fields to 16px
  .changeset/brave-inputs-grow.md
  src/scripts/components/color-picker.module.css
  src/scripts/components/editor.tsx
  src/scripts/styles/input.module.css
  src/scripts/styles/textarea.module.css
Due: biome, prettier

Increase the font size of text fields to 16px (#918)
  .changeset/brave-inputs-grow.md
  src/scripts/components/color-picker.module.css
  src/scripts/components/editor.tsx
  src/scripts/styles/input.module.css
  src/scripts/styles/textarea.module.css
Due: biome, prettier

Use adopted style sheets for content script styles
  .changeset/calm-sheets-adopt.md
  src/scripts/block-dialog/index.tsx
  src/scripts/content-script/commands.ts
  src/scripts/content-script/control.css
  src/scripts/content-script/global-styles.ts
  src/scripts/content-script/icon-button.css
  src/scripts/content-script/index.ts
  src/scripts/content-script/text-button.css
  src/scripts/shared/adopt-style-sheet.ts
  src/scripts/shared/globals.ts
Due: biome, prettier

Use adopted style sheets for content script styles (#919)
  .changeset/calm-sheets-adopt.md
  src/scripts/block-dialog/index.tsx
  src/scripts/content-script/commands.ts
  src/scripts/content-script/control.css
  src/scripts/content-script/global-styles.ts
  src/scripts/content-script/icon-button.css
  src/scripts/content-script/index.ts
  src/scripts/content-script/text-button.css
  src/scripts/shared/adopt-style-sheet.ts
  src/scripts/shared/globals.ts
Due: biome, prettier

Replace interval selects with number fields
  .changeset/spicy-parents-count.md
  e2e/tests/options.spec.ts
  src/_locales/en/messages.json
  src/scripts/background/subscriptions.ts
  src/scripts/background/sync.ts
  src/scripts/components/number-field.module.css
  src/scripts/components/number-field.tsx
  src/scripts/options/shared/set-interval-item.tsx
  src/scripts/options/subscription-section/index.tsx
  src/scripts/options/sync-section.tsx
  src/scripts/shared/intervals.ts
  src/scripts/shared/message-names.generated.ts
Due: biome, prettier

Replace interval selects with number fields (#920)
  .changeset/spicy-parents-count.md
  e2e/tests/options.spec.ts
  src/_locales/en/messages.json
  src/scripts/background/subscriptions.ts
  src/scripts/background/sync.ts
  src/scripts/components/number-field.module.css
  src/scripts/components/number-field.tsx
  src/scripts/options/shared/set-interval-item.tsx
  src/scripts/options/subscription-section/index.tsx
  src/scripts/options/sync-section.tsx
  src/scripts/shared/intervals.ts
  src/scripts/shared/message-names.generated.ts
Due: biome, prettier

Change default settings
  .changeset/brown-donuts-refuse.md
  e2e/tests/blocking.spec.ts
  src/scripts/shared/local-storage.ts
Due: biome, prettier

Change default settings (#922)
  .changeset/brown-donuts-refuse.md
  e2e/tests/blocking.spec.ts
  src/scripts/shared/local-storage.ts
Due: biome, prettier

New Crowdin translations by GitHub Action
  README.de.md
  src/_locales/de/messages.json
Due: biome, prettier

Path conditions:
  biome: any of: *.{js,cjs,mjs,ts,cts,mts,jsx,tsx,json,jsonc}
  prettier: any of: *.{css,yml,yaml,md,markdown}
