Repository iorate/ublacklist: changes, and which lefthook commands are due for each by the changed paths.
All: biome, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    biome:
      glob: "*.{js,cjs,mjs,ts,cts,mts,jsx,tsx,json,jsonc}"
      run: pnpm biome check --apply --no-errors-on-unmatched {staged_files}
      stage_fixed: true
    prettier:
      glob: "*.{css,yml,yaml,md,markdown}"
      run: pnpm prettier --write {staged_files}
      stage_fixed: true

remove compiledRules from subscriptions
  src/scripts/background/subscriptions.ts
Due: biome

ddg: add props to news card in web search
  src/scripts/search-engines/duckduckgo.ts
Due: biome

update packages
  package.json
  pnpm-lock.yaml
Due: biome, prettier

chore: update biome settings
  .github/workflows/check.yml
  .vscode/settings.json
  biome.json
  lefthook.yml
  package.json
  src/scripts/options/from-now.tsx
  src/scripts/options/set-interval-item.tsx
  src/scripts/options/sync-section.tsx
Due: biome, prettier

docs(website): upgrade docusaurus
  pnpm-lock.yaml
  website/package.json
Due: biome, prettier

chore: upgrade pnpm
  package.json
Due: biome

chore: update packages
  package.json
  pnpm-lock.yaml
Due: biome, prettier

fix(ecosia): wait for rendering of Nuxt
  src/common/search-engines.ts
Due: biome

fix(ecosia): get dialog theme from background
  src/scripts/search-engines/ecosia.ts
Due: biome

chore: don't format css by prettier
  .prettierignore
Due: none

Notes added by 'git notes add'
  e7d95f8c9e0158c1d28c20f17b4c46087cb9cad6
Due: none

fix(options): fix crash of add-subscription dialog
  src/scripts/options/subscription-section.tsx
Due: biome

Notes added by 'git notes add'
  d2b28a0a19c94ce9affb2f7438c9a74deb7b43ce
Due: none

Yandex.ru Domain Support
  src/common/search-engines.ts
Due: biome

fix(ruleset): fix crash on invalid rules
  src/scripts/ruleset/ruleset.ts
Due: biome

Notes added by 'git notes add'
  c8e33c1db59fbb647e88d9a5e6896c2f13e7b2f6
Due: none

Update subscriptions.md
  website/i18n/ja/docusaurus-plugin-content-pages/subscriptions.md
Due: prettier

introduce content script importer
  scripts/build.ts
  src/manifest.json.ts
  src/scripts/import-content-script.js
Due: biome

fix(safari): fix performance issue of v8.8.1 for Safari (#505)
  scripts/build.ts
  src/manifest.json.ts
  src/scripts/import-content-script.js
Due: biome

fix format
  website/i18n/ja/docusaurus-plugin-content-pages/subscriptions.md
Due: prettier

docs(website): update subscriptions.md (#501)
  website/i18n/ja/docusaurus-plugin-content-pages/subscriptions.md
Due: prettier

fix(safari,google): bring action after "translate this page" to front
  src/scripts/search-engines/google-desktop.ts
Due: biome

feat(google): Enable blocking for top / related news
  src/scripts/search-engines/google-mobile.ts
Due: biome

show background of blocked/highlighted results
  src/scripts/search-engines/google-mobile.ts
Due: biome

feat(google,ios): enable blocking for top / related news (#508)
  src/scripts/search-engines/google-mobile.ts
Due: biome

Notes added by 'git notes add'
  5a86624e252e0fbfb851d2bfc106841ad6e145ae
Due: none

update xcode project
  safari-project/iOS (App)/Info.plist
  safari-project/macOS (App)/Info.plist
  safari-project/uBlacklist for Safari.xcodeproj/project.pbxproj
Due: none

fix: fix website URLs in Korean environment
  src/_locales/ko/messages.json.ts
Due: biome

Notes added by 'git notes add'
  18af1826c9ff69eb9e6fb4ec29df2f8de90a3502
Due: none

fix(ddg): fix button overlap on DDG card carousel in certain scenarios
  src/scripts/search-engines/duckduckgo.ts
Due: biome

Notes added by 'git notes add'
  7eeefcb63d7fcb49e1981b2d1b98902367ce6c67
Due: none

add Axel Springer SE blacklist
  website/src/pages/subscriptions.md
Due: prettier

Update subscriptions.md
  website/src/pages/subscriptions.md
Due: prettier

feat: keep track of subscription name in the InteractiveRuleset class
  src/scripts/content-script.tsx
  src/scripts/interactive-ruleset.test.ts
  src/scripts/interactive-ruleset.ts
  src/scripts/popup.tsx
Due: biome

feat: add way to query all rules matching a SerpEntry
  src/scripts/interactive-ruleset.ts
Due: biome

feat: return null if there is no match for a particular ruleset
  src/scripts/interactive-ruleset.ts
Due: biome

fix: get accurate line numbers for rules after changes to user ruleset
  src/scripts/interactive-ruleset.ts
Due: biome

feat: add "matching rules" section in the block-dialog component
  src/scripts/block-dialog.tsx
  src/scripts/components/details.tsx
  src/scripts/components/textarea.tsx
Due: biome

feat: finish first implementation of the matching rules interface
  src/scripts/block-dialog.tsx
  src/scripts/components/textarea.tsx
  src/scripts/interactive-ruleset.ts
  src/scripts/types.ts
  src/scripts/utilities.ts
Due: biome
