Repository iorate/ublacklist: changes, and which lefthook commands are due for each by the changed paths.
All: biome, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    biome:
      glob: "*.{js,cjs,mjs,ts,cts,mts,jsx,tsx,json,jsonc}"
      run: pnpm biome check --apply --no-errors-on-unmatched {staged_files}
      stage_fixed: true
    prettier:
      glob: "*.{css,yml,yaml,md,markdown}"
      run: pnpm prettier --write {staged_files}
      stage_fixed: true

wip: update CONTRIBUTING.md to use crowdin
  CONTRIBUTING.md
Due: prettier

docs: add browser support policy
  README.md
  README.zh-CN.md
Due: prettier

wip: update CONTRIBUTING.md
  CONTRIBUTING.md
Due: prettier

i18n: migrate translation workflow to Crowdin (#648)
  .github/workflows/crowdin.yml
  CONTRIBUTING.md
  crowdin.yml
  package.json
  scripts/build.ts
  scripts/generate-message-names.ts
  src/_locales/de/messages.json
  src/_locales/de/messages.json.ts
  src/_locales/en/messages.json
  src/_locales/en/messages.json.ts
  src/_locales/es/messages.json
  src/_locales/es/messages.json.ts
  src/_locales/fr/messages.json
  src/_locales/fr/messages.json.ts
  src/_locales/helpers.ts
  src/_locales/ja/messages.json
  src/_locales/ja/messages.json.ts
  src/_locales/ko/messages.json
  src/_locales/ko/messages.json.ts
  src/_locales/pl/messages.json
  src/_locales/pl/messages.json.ts
  src/_locales/pt_BR/messages.json
  src/_locales/pt_BR/messages.json.ts
  src/_locales/ru/messages.json
  src/_locales/ru/messages.json.ts
  src/_locales/tr/messages.json
  src/_locales/tr/messages.json.ts
  src/_locales/uk/messages.json
  src/_locales/uk/messages.json.ts
  src/_locales/zh_CN/messages.json
  src/_locales/zh_CN/messages.json.ts
  src/_locales/zh_TW/messages.json
  src/_locales/zh_TW/messages.json.ts
  src/common/locales.ts
  src/common/message-names.generated.ts
  src/scripts/types.ts
  tsconfig.node.json
  web-store-assets/pt_BR/description.txt
  web-store-assets/zh_CN/description.txt
  web-store-assets/zh_TW/description.txt
Due: biome, prettier

i18n: update crowdin config to minimize file and string updates
  .github/workflows/crowdin.yml
  crowdin.yml
Due: prettier

New Crowdin translations by GitHub Action
  src/_locales/de/messages.json
  src/_locales/es/messages.json
  src/_locales/fr/messages.json
  src/_locales/ja/messages.json
  src/_locales/ko/messages.json
  src/_locales/pl/messages.json
  src/_locales/pt_BR/messages.json
  src/_locales/ru/messages.json
  src/_locales/tr/messages.json
  src/_locales/uk/messages.json
  src/_locales/zh_TW/messages.json
  web-store-assets/de/description.txt
  web-store-assets/es/description.txt
  web-store-assets/ko/description.txt
  web-store-assets/pl/description.txt
  web-store-assets/tr/description.txt
  web-store-assets/uk/description.txt
Due: biome

chore: update language mapping in crowdin.yml
  crowdin.yml
Due: prettier

New Crowdin translations by GitHub Action
  src/_locales/zh_CN/messages.json
  web-store-assets/zh_CN/description.txt
Due: biome

chore: update crowdin config
  crowdin.yml
Due: prettier

New Crowdin translations by GitHub Action
  src/_locales/ja/messages.json
  web-store-assets/ko/description.txt
Due: biome

chore: update crowdin config
  .github/workflows/crowdin.yml
  crowdin.yml
Due: prettier

chore: update Japanese and Korean translations (#660)
  src/_locales/ja/messages.json
  web-store-assets/ko/description.txt
Due: biome

docs: translate readme via crowdin
  .github/workflows/crowdin.yml
  README.md
  crowdin.yml
  web-store-assets/pt-BR/description.txt
  web-store-assets/zh-CN/description.txt
  web-store-assets/zh-TW/description.txt
Due: prettier

New Crowdin translations by GitHub Action
  README.zh_CN.md
  web-store-assets/pt_BR/description.txt
  web-store-assets/zh_CN/description.txt
  web-store-assets/zh_TW/description.txt
Due: prettier

chore: fix typo in crowdin.yml
  crowdin.yml
Due: prettier

New Crowdin translations by GitHub Action
  README.zh-CN.md
Due: prettier

docs: change markdown table formatting according to crowdin
  .gitignore
  README.md
  README.zh-CN.md
  crowdin.yml
Due: prettier

initial commit
  .nojekyll
  404.html
Due: none

chore: update list of files not yet translated
  .gitignore
  crowdin.yml
  web-store-assets/pl/description.txt
  web-store-assets/tr/description.txt
Due: prettier

chore: use `gh-pages` branch for github pages
  docs/.nojekyll
  docs/404.html
Due: none

chore: remove `safari-icons`, that have never used
  safari-icons/icon-1024.png
  safari-icons/icon-128.png
  safari-icons/icon-16.png
  safari-icons/icon-256.png
  safari-icons/icon-32.png
  safari-icons/icon-512.png
  safari-icons/icon-64.png
Due: none

chore: update packages
  .github/workflows/check.yml
  .github/workflows/crowdin.yml
  .github/workflows/deploy.yml
  .github/workflows/format.yml
  lefthook.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: biome, prettier

chore: update deprecated settings key of biome-vscode
  .vscode/settings.json
Due: biome

chore: fix potential bugs of ruleset tests
  src/scripts/interactive-ruleset.test.ts
  src/scripts/ruleset/ruleset.test.ts
Due: biome

refactor(biome): suppress lint/correctness/useUniqueElementIds
  src/scripts/options.tsx
  src/scripts/options/about-section.tsx
  src/scripts/options/appearance-section.tsx
  src/scripts/options/backup-restore-section.tsx
  src/scripts/options/general-section.tsx
  src/scripts/options/subscription-section.tsx
  src/scripts/options/sync-section.tsx
  src/scripts/serpinfo/options.tsx
Due: biome

ci: suppress warnings from crowdin action
  .github/workflows/crowdin.yml
Due: prettier

New Crowdin translations by GitHub Action
  src/_locales/pt_BR/messages.json
Due: biome

i18n: update Brazilian Portuguese translations (#665)
  src/_locales/pt_BR/messages.json
Due: biome

feat: add show/hide button for blocked results
  package.json
  pnpm-lock.yaml
  src/_locales/en/messages.json
  src/common/message-names.generated.ts
  src/scripts/options/general-section.tsx
  src/scripts/serpinfo/content-script.tsx
  src/scripts/serpinfo/control.ts
  src/scripts/serpinfo/filter.ts
  src/scripts/serpinfo/style.ts
  src/third-party-notices.txt
Due: biome, prettier

enable click-through for elements beneath div
  src/scripts/serpinfo/control.ts
Due: biome

add support for dark mode
  src/scripts/serpinfo/control.ts
  src/scripts/serpinfo/dialog.tsx
  src/scripts/serpinfo/is-dark-mode.ts
Due: biome

update visibility logic for control button
  src/scripts/serpinfo/control.ts
Due: biome

feat: add show/hide button for blocked results (#666)
  package.json
  pnpm-lock.yaml
  src/_locales/en/messages.json
  src/common/message-names.generated.ts
  src/scripts/options/general-section.tsx
  src/scripts/serpinfo/content-script.tsx
  src/scripts/serpinfo/control.ts
  src/scripts/serpinfo/dialog.tsx
  src/scripts/serpinfo/filter.ts
  src/scripts/serpinfo/is-dark-mode.ts
  src/scripts/serpinfo/style.ts
  src/third-party-notices.txt
Due: biome, prettier

New Crowdin translations by GitHub Action
  src/_locales/ja/messages.json
Due: biome

fix(i18n): update Japanese translation (#667)
  src/_locales/ja/messages.json
Due: biome

Notes added by 'git notes add'
  4ffd8c73453bc301f408785a7ce72e6993d59e2f
Due: none
