Repository iorate/ublacklist: changes, and which lefthook commands are due for each by the changed paths.
All: biome, prettier

biome:
  run: pnpm biome check --apply --no-errors-on-unmatched {staged_files}
  stage_fixed: true

prettier:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

Replace the label components with CSS Modules
  src/scripts/components/label.module.css
  src/scripts/components/label.tsx
  src/scripts/options/about-section.tsx
  src/scripts/options/appearance-section.tsx
  src/scripts/options/backup-restore-section.tsx
  src/scripts/options/general-section.tsx
  src/scripts/options/set-boolean-item.tsx
  src/scripts/options/set-interval-item.tsx
  src/scripts/options/subscription-section/add-dialog.tsx
  src/scripts/options/subscription-section/index.tsx
  src/scripts/options/subscription-section/rename-dialog.tsx
  src/scripts/options/subscription-section/row.tsx
  src/scripts/options/sync-section.tsx
  src/scripts/serpinfo-options/index.tsx
  src/scripts/shared/enable-subscription-url.tsx
Due: biome, prettier

Replace the label components with CSS Modules (#897)
  src/scripts/components/label.module.css
  src/scripts/components/label.tsx
  src/scripts/options/about-section.tsx
  src/scripts/options/appearance-section.tsx
  src/scripts/options/backup-restore-section.tsx
  src/scripts/options/general-section.tsx
  src/scripts/options/set-boolean-item.tsx
  src/scripts/options/set-interval-item.tsx
  src/scripts/options/subscription-section/add-dialog.tsx
  src/scripts/options/subscription-section/index.tsx
  src/scripts/options/subscription-section/rename-dialog.tsx
  src/scripts/options/subscription-section/row.tsx
  src/scripts/options/sync-section.tsx
  src/scripts/serpinfo-options/index.tsx
  src/scripts/shared/enable-subscription-url.tsx
Due: biome, prettier

Unify components to function declarations without forwardRef
  src/scripts/components/dialog.tsx
  src/scripts/components/editor.tsx
  src/scripts/options/about-section.tsx
  src/scripts/options/appearance-section.tsx
  src/scripts/options/backup-restore-section.tsx
  src/scripts/options/from-now.tsx
  src/scripts/options/general-section.tsx
  src/scripts/options/index.tsx
  src/scripts/options/ruleset-editor.tsx
  src/scripts/options/set-boolean-item.tsx
  src/scripts/options/set-interval-item.tsx
  src/scripts/options/subscription-section/add-dialog.tsx
  src/scripts/options/subscription-section/index.tsx
  src/scripts/options/subscription-section/rename-dialog.tsx
  src/scripts/options/subscription-section/row.tsx
  src/scripts/options/subscription-section/show-dialog.tsx
  src/scripts/options/sync-section.tsx
  src/scripts/popup/index.tsx
Due: biome

Unify components to function declarations without forwardRef (#899)
  src/scripts/components/dialog.tsx
  src/scripts/components/editor.tsx
  src/scripts/options/about-section.tsx
  src/scripts/options/appearance-section.tsx
  src/scripts/options/backup-restore-section.tsx
  src/scripts/options/from-now.tsx
  src/scripts/options/general-section.tsx
  src/scripts/options/index.tsx
  src/scripts/options/ruleset-editor.tsx
  src/scripts/options/set-boolean-item.tsx
  src/scripts/options/set-interval-item.tsx
  src/scripts/options/subscription-section/add-dialog.tsx
  src/scripts/options/subscription-section/index.tsx
  src/scripts/options/subscription-section/rename-dialog.tsx
  src/scripts/options/subscription-section/row.tsx
  src/scripts/options/subscription-section/show-dialog.tsx
  src/scripts/options/sync-section.tsx
  src/scripts/popup/index.tsx
Due: biome

Rename the subscription row component to SubscriptionTableRow
  src/scripts/options/subscription-section/index.tsx
  src/scripts/options/subscription-section/table-row.module.css
  src/scripts/options/subscription-section/table-row.tsx
Due: biome, prettier

Move cross-section options files into options/shared
  src/scripts/options/general-section.tsx
  src/scripts/options/index.tsx
  src/scripts/options/shared/from-now.tsx
  src/scripts/options/shared/platform.ts
  src/scripts/options/shared/ruleset-editor.tsx
  src/scripts/options/shared/ruleset-lang.ts
  src/scripts/options/shared/set-boolean-item.module.css
  src/scripts/options/shared/set-boolean-item.tsx
  src/scripts/options/shared/set-interval-item.module.css
  src/scripts/options/shared/set-interval-item.tsx
  src/scripts/options/subscription-section/index.tsx
  src/scripts/options/subscription-section/show-dialog.tsx
  src/scripts/options/subscription-section/table-row.tsx
  src/scripts/options/sync-section.tsx
Due: biome, prettier

Move style-only CSS files from components to styles
  src/scripts/block-dialog/index.tsx
  src/scripts/components/menu.tsx
  src/scripts/components/split-button.tsx
  src/scripts/options/about-section.tsx
  src/scripts/options/appearance-section.tsx
  src/scripts/options/backup-restore-section.tsx
  src/scripts/options/general-section.tsx
  src/scripts/options/index.tsx
  src/scripts/options/shared/set-boolean-item.tsx
  src/scripts/options/shared/set-interval-item.tsx
  src/scripts/options/subscription-section/add-dialog.tsx
  src/scripts/options/subscription-section/index.tsx
  src/scripts/options/subscription-section/rename-dialog.tsx
  src/scripts/options/subscription-section/show-dialog.tsx
  src/scripts/options/subscription-section/table-row.tsx
  src/scripts/options/sync-section.tsx
  src/scripts/popup/index.tsx
  src/scripts/popup/serpinfo.tsx
  src/scripts/serpinfo-options/index.tsx
  src/scripts/shared/enable-subscription-url.tsx
  src/scripts/styles/badge.module.css
  src/scripts/styles/baseline.css
  src/scripts/styles/button.module.css
  src/scripts/styles/checkbox.module.css
  src/scripts/styles/container.module.css
  src/scripts/styles/icon-button.module.css
  src/scripts/styles/indent.module.css
  src/scripts/styles/input.module.css
  src/scripts/styles/label.module.css
  src/scripts/styles/list.module.css
  src/scripts/styles/radio.module.css
  src/scripts/styles/row.module.css
  src/scripts/styles/section.module.css
  src/scripts/styles/switch.module.css
  src/scripts/styles/table.module.css
  src/scripts/styles/text.module.css
  src/scripts/styles/textarea.module.css
  src/scripts/styles/theme.css
Due: biome, prettier

Generate sync sections from config objects
  src/scripts/background/sync-sections.test.ts
  src/scripts/background/sync-sections.ts
  src/scripts/background/sync.ts
Due: biome

Generate sync sections from config objects (#901)
  src/scripts/background/sync-sections.test.ts
  src/scripts/background/sync-sections.ts
  src/scripts/background/sync.ts
Due: biome

Remove the sync reload button from the options page
  .changeset/lazy-moons-refresh.md
  src/_locales/en/messages.json
  src/scripts/background/sync.ts
  src/scripts/options/sync-section.tsx
  src/scripts/shared/message-names.generated.ts
  src/scripts/shared/messages.ts
Due: biome, prettier

Remove the sync reload button from the options page (#902)
  .changeset/lazy-moons-refresh.md
  src/_locales/en/messages.json
  src/scripts/background/sync.ts
  src/scripts/options/sync-section.tsx
  src/scripts/shared/message-names.generated.ts
  src/scripts/shared/messages.ts
Due: biome, prettier

Separate token management and rename cloud modules to sync backends
  src/scripts/background/index.ts
  src/scripts/background/sync-backends.ts
  src/scripts/background/sync.ts
  src/scripts/clouds/webdav.ts
  src/scripts/options/sync-section.tsx
  src/scripts/shared/messages.ts
  src/scripts/shared/supported-clouds.ts
  src/scripts/shared/types.ts
  src/scripts/sync-backends/browser-sync.ts
  src/scripts/sync-backends/cloud.test.ts
  src/scripts/sync-backends/cloud.ts
  src/scripts/sync-backends/dropbox.ts
  src/scripts/sync-backends/google-drive.ts
  src/scripts/sync-backends/helpers.ts
  src/scripts/sync-backends/webdav.ts
Due: biome

Separate token management and rename cloud modules to sync backends (#903)
  src/scripts/background/index.ts
  src/scripts/background/sync-backends.ts
  src/scripts/background/sync.ts
  src/scripts/clouds/webdav.ts
  src/scripts/options/sync-section.tsx
  src/scripts/shared/messages.ts
  src/scripts/shared/supported-clouds.ts
  src/scripts/shared/types.ts
  src/scripts/sync-backends/browser-sync.ts
  src/scripts/sync-backends/cloud.test.ts
  src/scripts/sync-backends/cloud.ts
  src/scripts/sync-backends/dropbox.ts
  src/scripts/sync-backends/google-drive.ts
  src/scripts/sync-backends/helpers.ts
  src/scripts/sync-backends/webdav.ts
Due: biome

Add changesets for the v10 refactoring
  .changeset/proud-panels-rebuild.md
  .changeset/slim-scripts-shrink.md
Due: prettier

Add changesets for the v10 refactoring (#904)
  .changeset/proud-panels-rebuild.md
  .changeset/slim-scripts-shrink.md
Due: prettier

Fix the block dialog failing to open in Firefox
  src/scripts/block-dialog/index.tsx
Due: biome

Fix the block dialog failing to open in Firefox (#906)
  src/scripts/block-dialog/index.tsx
Due: biome

Reflect appearance color settings changed by sync in real time
  src/scripts/options/appearance-section.tsx
Due: biome

Reflect appearance color settings changed by sync in real time (#907)
  src/scripts/options/appearance-section.tsx
Due: biome

Cover unblocking in the blocking end-to-end test
  e2e/tests/blocking.spec.ts
Due: biome

Remove dead code and correct the parseJSON return type
  src/scripts/background/raw-storage.ts
  src/scripts/background/sync-sections.test.ts
  src/scripts/shared/local-storage.ts
  src/scripts/shared/utilities.ts
Due: biome

Remove dead code and correct the parseJSON return type (#909)
  src/scripts/background/raw-storage.ts
  src/scripts/background/sync-sections.test.ts
  src/scripts/shared/local-storage.ts
  src/scripts/shared/utilities.ts
Due: biome

Disable the OK button while connecting to browser sync
  src/scripts/options/sync-section.tsx
Due: biome

Cover unblocking in the blocking end-to-end test (#908)
  e2e/tests/blocking.spec.ts
Due: biome

Disable the OK button while connecting to browser sync (#910)
  src/scripts/options/sync-section.tsx
Due: biome

Remove the unused disabled prop from Link
  src/scripts/components/link.tsx
Due: biome

Remove the unused disabled prop from Link (#911)
  src/scripts/components/link.tsx
Due: biome

Skip afterSync hooks when the sync result is not saved
  src/scripts/background/sync.ts
Due: biome

Skip afterSync hooks when the sync result is not saved (#912)
  src/scripts/background/sync.ts
Due: biome

Extract the SERP page matching into a shared predicate
  src/scripts/content-script/index.ts
  src/scripts/popup/serpinfo.tsx
  src/scripts/shared/serpinfo-match.ts
Due: biome

Extract the SERP page matching into a shared predicate (#913)
  src/scripts/content-script/index.ts
  src/scripts/popup/serpinfo.tsx
  src/scripts/shared/serpinfo-match.ts
Due: biome

Remove the AltURL class
  src/scripts/options/sync-section.tsx
  src/scripts/shared/permissions.ts
  src/scripts/shared/utilities.ts
Due: biome

Remove the AltURL class (#914)
  src/scripts/options/sync-section.tsx
  src/scripts/shared/permissions.ts
  src/scripts/shared/utilities.ts
Due: biome

Path conditions:
  biome: any of: *.{js,cjs,mjs,ts,cts,mts,jsx,tsx,json,jsonc}
  prettier: any of: *.{css,yml,yaml,md,markdown}
