Repository iorate/ublacklist: changes, and which lefthook commands are due for each by the changed paths.
All: biome, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    biome:
      glob: "*.{js,cjs,mjs,ts,cts,mts,jsx,tsx,json,jsonc}"
      run: pnpm biome check --apply --no-errors-on-unmatched {staged_files}
      stage_fixed: true
    prettier:
      glob: "*.{css,yml,yaml,md,markdown}"
      run: pnpm prettier --write {staged_files}
      stage_fixed: true

Remove actions/checkout from renovate.yml (#944)
  .github/workflows/renovate.yml
Due: prettier

Move ruleset and SERPINFO specifications to ublacklist/packages
  AGENTS.md
  README.md
  docs/ruleset-spec.md
  docs/serpinfo-spec.md
Due: prettier

Move ruleset and SERPINFO specifications to ublacklist/packages (#945)
  AGENTS.md
  README.md
  docs/ruleset-spec.md
  docs/serpinfo-spec.md
Due: prettier

New Crowdin translations by GitHub Action
  README.de.md
  README.zh-CN.md
Due: prettier

Change the Renovate schedule from 15:00 to 18:00 UTC
  .github/workflows/renovate.yml
Due: prettier

Change the Renovate schedule from 15:00 to 18:00 UTC (#948)
  .github/workflows/renovate.yml
Due: prettier

Add a workflow to update submodules
  .github/workflows/update-submodules.yml
Due: prettier

Add a workflow to update submodules (#949)
  .github/workflows/update-submodules.yml
Due: prettier

Split the Crowdin workflow into upload and download
  .github/workflows/crowdin-download.yml
  .github/workflows/crowdin-upload.yml
Due: prettier

Split the Crowdin workflow into upload and download (#950)
  .github/workflows/crowdin-download.yml
  .github/workflows/crowdin-upload.yml
Due: prettier

New Crowdin translations by GitHub Action
  src/_locales/zh_CN/messages.json
Due: biome

New Crowdin translations by GitHub Action
  src/_locales/ru/messages.json
  src/_locales/zh_TW/messages.json
Due: biome

Add a trailing period to translation changesets
  .changeset/update-ru-translation.md
  .changeset/update-zh_CN-translation.md
  .changeset/update-zh_TW-translation.md
  .github/workflows/crowdin-download.yml
Due: prettier

Add a trailing period to translation changesets (#954)
  .changeset/update-ru-translation.md
  .changeset/update-zh_CN-translation.md
  .changeset/update-zh_TW-translation.md
  .github/workflows/crowdin-download.yml
Due: prettier

Reword translation changesets to match the changelog style
  .changeset/update-ru-translation.md
  .changeset/update-zh_CN-translation.md
  .changeset/update-zh_TW-translation.md
  .github/workflows/crowdin-download.yml
Due: prettier

Reword translation changesets to match the changelog style (#955)
  .changeset/update-ru-translation.md
  .changeset/update-zh_CN-translation.md
  .changeset/update-zh_TW-translation.md
  .github/workflows/crowdin-download.yml
Due: prettier

Consolidate the related repositories list into the README
  AGENTS.md
  CONTRIBUTING.md
Due: prettier

Consolidate the related repositories list into the README (#956)
  AGENTS.md
  CONTRIBUTING.md
Due: prettier

Fix the update-submodules workflow
  .github/workflows/update-submodules.yml
Due: prettier

Fix the update-submodules workflow (#958)
  .github/workflows/update-submodules.yml
Due: prettier

Fix the update-submodules workflow (#959)
  .github/workflows/update-submodules.yml
Due: prettier

Replace the update-submodules workflow with Renovate git-submodules
  .github/workflows/update-submodules.yml
Due: prettier

Replace the update-submodules workflow with Renovate git-submodules (#961)
  .github/workflows/update-submodules.yml
Due: prettier

Remove DialogHeader/DialogBody/DialogFooter and extract dialog styles
  src/scripts/block-dialog/index.tsx
  src/scripts/components/dialog.module.css
  src/scripts/components/dialog.tsx
  src/scripts/options/general-section.tsx
  src/scripts/options/subscription-section/add-dialog.tsx
  src/scripts/options/subscription-section/rename-dialog.tsx
  src/scripts/options/subscription-section/show-dialog.tsx
  src/scripts/options/sync-section.tsx
  src/scripts/popup/serpinfo.tsx
  src/scripts/serpinfo-options/index.tsx
  src/scripts/styles/dialog.module.css
Due: biome, prettier

Derive component wrapper props from Base UI and native element types
  src/scripts/components/color-picker.tsx
  src/scripts/components/dialog.tsx
  src/scripts/components/embedded-dialog.tsx
  src/scripts/components/link.tsx
  src/scripts/components/menu.tsx
  src/scripts/components/merge-props.ts
  src/scripts/components/select.tsx
  src/scripts/components/split-button.tsx
  src/scripts/options/appearance-section.tsx
Due: biome

Render SvgIcon with dangerouslySetInnerHTML and add a size prop
  src/scripts/components/svg-icon.tsx
  src/scripts/options/about-section.tsx
Due: biome

Remove redundant fallbacks for CSS module class names
  src/scripts/components/color-picker.tsx
  src/scripts/components/select.tsx
Due: biome

Move EmbeddedDialog to popup/ as PopupDialog
  src/scripts/block-dialog/index.tsx
  src/scripts/popup/dialog.module.css
  src/scripts/popup/dialog.tsx
  src/scripts/popup/index.module.css
  src/scripts/popup/index.tsx
  src/scripts/popup/serpinfo.tsx
Due: biome, prettier

Move expandLinks into general-section
  src/scripts/components/link.tsx
  src/scripts/options/general-section.tsx
Due: biome

Fix SvgIcon re-creating the SVG on every render
  src/scripts/components/svg-icon.tsx
Due: biome

Use Base UI Button for the main button of SplitButton
  src/scripts/components/split-button.tsx
Due: biome

Refactor shared components (#965)
  src/scripts/block-dialog/index.tsx
  src/scripts/components/color-picker.tsx
  src/scripts/components/dialog.module.css
  src/scripts/components/dialog.tsx
  src/scripts/components/link.tsx
  src/scripts/components/menu.tsx
  src/scripts/components/merge-props.ts
  src/scripts/components/select.tsx
  src/scripts/components/split-button.tsx
  src/scripts/components/svg-icon.tsx
  src/scripts/options/about-section.tsx
  src/scripts/options/appearance-section.tsx
  src/scripts/options/general-section.tsx
  src/scripts/options/subscription-section/add-dialog.tsx
  src/scripts/options/subscription-section/rename-dialog.tsx
  src/scripts/options/subscription-section/show-dialog.tsx
  src/scripts/options/sync-section.tsx
  src/scripts/popup/dialog.module.css
  src/scripts/popup/dialog.tsx
  src/scripts/popup/index.module.css
  src/scripts/popup/index.tsx
  src/scripts/popup/serpinfo.tsx
  src/scripts/serpinfo-options/index.tsx
  src/scripts/styles/dialog.module.css
Due: biome, prettier

Split the sync section into a directory with per-backend forms
  src/scripts/options/index.tsx
  src/scripts/options/sync-section.ts
  src/scripts/options/sync-section.tsx
  src/scripts/options/sync-section/browser-sync-form.tsx
  src/scripts/options/sync-section/cloud-form.tsx
  src/scripts/options/sync-section/form-parts.tsx
  src/scripts/options/sync-section/index.tsx
  src/scripts/options/sync-section/message-names.ts
  src/scripts/options/sync-section/turn-on-sync-dialog.tsx
  src/scripts/options/sync-section/webdav-form.tsx
Due: biome

Split the sync section into a directory with per-backend forms (#966)
  src/scripts/options/index.tsx
  src/scripts/options/sync-section.ts
  src/scripts/options/sync-section.tsx
  src/scripts/options/sync-section/browser-sync-form.tsx
  src/scripts/options/sync-section/cloud-form.tsx
  src/scripts/options/sync-section/form-parts.tsx
  src/scripts/options/sync-section/index.tsx
  src/scripts/options/sync-section/message-names.ts
  src/scripts/options/sync-section/turn-on-sync-dialog.tsx
  src/scripts/options/sync-section/webdav-form.tsx
Due: biome

Use PKCE when authorizing Google Drive and Dropbox sync
  .changeset/oauth-pkce.md
  .github/workflows/publish.yml
  CONTRIBUTING.md
  scripts/build.ts
  src/scripts/background/sync-backends.ts
  src/scripts/options/sync-section/cloud-form.tsx
  src/scripts/shared/globals.ts
  src/scripts/shared/messages.ts
  src/scripts/shared/types.ts
  src/scripts/sync-backends/cloud-utils.ts
  src/scripts/sync-backends/cloud.test.ts
  src/scripts/sync-backends/cloud.ts
  src/scripts/sync-backends/dropbox.ts
  src/scripts/sync-backends/google-drive.ts
Due: biome, prettier

Use PKCE when authorizing Google Drive and Dropbox sync (#967)
  .changeset/oauth-pkce.md
  .github/workflows/publish.yml
  CONTRIBUTING.md
  scripts/build.ts
  src/scripts/background/sync-backends.ts
  src/scripts/options/sync-section/cloud-form.tsx
  src/scripts/shared/globals.ts
  src/scripts/shared/messages.ts
  src/scripts/shared/types.ts
  src/scripts/sync-backends/cloud-utils.ts
  src/scripts/sync-backends/cloud.test.ts
  src/scripts/sync-backends/cloud.ts
  src/scripts/sync-backends/dropbox.ts
  src/scripts/sync-backends/google-drive.ts
Due: biome, prettier

New Crowdin translations by GitHub Action
  README.de.md
  src/_locales/de/messages.json
Due: biome, prettier

Support refresh token rotation in Google Drive and Dropbox sync
  .changeset/refresh-token-rotation.md
  src/scripts/shared/types.ts
  src/scripts/sync-backends/cloud-utils.ts
  src/scripts/sync-backends/cloud.test.ts
  src/scripts/sync-backends/cloud.ts
Due: biome, prettier

Handle refresh responses without expires_in
  src/scripts/shared/types.ts
  src/scripts/sync-backends/cloud-utils.ts
  src/scripts/sync-backends/cloud.test.ts
  src/scripts/sync-backends/cloud.ts
Due: biome
