Repository iorate/ublacklist: changes, and which lefthook commands are due for each by the changed paths.
All: biome, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    biome:
      glob: "*.{js,cjs,mjs,ts,cts,mts,jsx,tsx,json,jsonc}"
      run: pnpm biome check --apply --no-errors-on-unmatched {staged_files}
      stage_fixed: true
    prettier:
      glob: "*.{css,yml,yaml,md,markdown}"
      run: pnpm prettier --write {staged_files}
      stage_fixed: true

refactor: replace goober-based CSS-in-JS
  package.json
  pnpm-lock.yaml
  src/scripts/serpinfo/commands.ts
  src/scripts/serpinfo/constants.ts
  src/scripts/serpinfo/filter.ts
  src/scripts/serpinfo/global-styles.ts
  src/scripts/serpinfo/style.ts
  src/scripts/styles.ts
Due: biome, prettier

fix(safari): use 100dvh instead of 100vh to avoid dialog overflow on iOS
  src/scripts/serpinfo/options.tsx
Due: biome

chore: update devDependencies
  package.json
  pnpm-lock.yaml
Due: biome, prettier

chore(biome): remove suppression comments for lint/nursery/useUniqueElementIds
  src/scripts/options/about-section.tsx
  src/scripts/options/appearance-section.tsx
  src/scripts/options/backup-restore-section.tsx
  src/scripts/options/general-section.tsx
  src/scripts/options/subscription-section.tsx
  src/scripts/options/sync-section.tsx
  src/scripts/serpinfo/options.tsx
Due: biome

refactor(locales): add JSDoc descriptions for translation messages to improve IDE tooltips
  src/_locales/en/messages.json.ts
  src/common/locales.ts
Due: biome

chore(locales): remove unused message options_linkColor
  src/_locales/de/messages.json.ts
  src/_locales/en/messages.json.ts
  src/_locales/es/messages.json.ts
  src/_locales/fr/messages.json.ts
  src/_locales/helpers.ts
  src/_locales/ja/messages.json.ts
  src/_locales/ko/messages.json.ts
  src/_locales/pl/messages.json.ts
  src/_locales/pt_BR/messages.json.ts
  src/_locales/ru/messages.json.ts
  src/_locales/uk/messages.json.ts
  src/_locales/zh_CN/messages.json.ts
  src/_locales/zh_TW/messages.json.ts
Due: biome

chore: update packages
  package.json
  patches/zod.patch
  pnpm-lock.yaml
  scripts/build.ts
  src/third-party-notices.txt
Due: biome, prettier

chore: add test script to expand glob
  package.json
  scripts/test.ts
Due: biome

translation: update pt_BR
  src/_locales/pt_BR/messages.json.ts
  web-store-assets/pt-br/description.txt
Due: biome

fix(locales): 更新简/繁中翻译
  src/_locales/zh_CN/messages.json.ts
  src/_locales/zh_TW/messages.json.ts
Due: biome

Update messages.json.ts
  src/_locales/de/messages.json.ts
Due: biome

chore: downgrade goober due to pseudo-class handling bug in 2.1.16
  package.json
  pnpm-lock.yaml
Due: biome, prettier

chore: update zod
  package.json
  patches/zod.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/scripts/serpinfo/commands.ts
  src/scripts/serpinfo/discriminated-tuple-union.ts
  src/scripts/serpinfo/types.ts
  src/scripts/zod/discriminated-tuple-union.test.ts
  src/scripts/zod/discriminated-tuple-union.ts
  tsconfig.node.json
Due: biome, prettier

chore: update packages
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: biome, prettier

fix(locales): update Chinese translation
  src/_locales/zh_CN/messages.json.ts
  src/_locales/zh_TW/messages.json.ts
Due: biome

fix(locale): update German translation (#631)
  src/_locales/de/messages.json.ts
Due: biome

chore: update third party notices
  src/third-party-notices.txt
Due: none

chore: remove unnecessary code from discriminated-tuple-union.ts
  src/scripts/zod/discriminated-tuple-union.ts
Due: biome

chore: rename ruleset/parser.ts
  biome.json
  package.json
  src/scripts/ruleset/lang.ts
  src/scripts/ruleset/parser.generated.ts
  src/scripts/ruleset/ruleset.ts
Due: biome

Add built-in support for Kagi.
  README.md
  README.zh-CN.md
  src/scripts/serpinfo/builtins.ts
Due: biome, prettier

feat: add experimental WebDAV sync support
  src/_locales/en/messages.json.ts
  src/common/locales.ts
  src/scripts/background/clouds.ts
  src/scripts/clouds/dropbox.ts
  src/scripts/clouds/google-drive.ts
  src/scripts/clouds/webdav.ts
  src/scripts/options/sync-section.tsx
  src/scripts/supported-clouds.ts
  src/scripts/types.ts
Due: biome

ci: skip formatting check for pull requests
  .github/workflows/check.yml
  .github/workflows/format.yml
Due: prettier

revert translation of `"websiteLocale"`
  src/_locales/pt_BR/messages.json.ts
Due: biome

fix(locales): update Brazilian Portuguese translation (#626)
  src/_locales/pt_BR/messages.json.ts
  web-store-assets/pt-br/description.txt
Due: biome

chore: update packages
  package.json
  pnpm-lock.yaml
  src/third-party-notices.txt
Due: biome, prettier

ci: consolidate setup steps into a reusable action
  .github/actions/setup/action.yml
  .github/workflows/check.yml
  .github/workflows/deploy.yml
  .github/workflows/format.yml
Due: prettier

feat: add built-in support for Kagi (#633)
  README.md
  README.zh-CN.md
  src/scripts/serpinfo/builtins.ts
Due: biome, prettier

refactor: fix typo
  src/scripts/serpinfo/style.ts
Due: biome

Notes added by 'git notes add'
  2591663ffdc852c6fc85f05e4845b3b226565c64
Due: none

chore: add discussion templates
  .github/DISCUSSION_TEMPLATE/bugs.yml
  .github/DISCUSSION_TEMPLATE/general.yml
  .github/DISCUSSION_TEMPLATE/ideas.yml
  .github/DISCUSSION_TEMPLATE/q-a.yml
Due: prettier

chore: add titles to discussion templates
  .github/DISCUSSION_TEMPLATE/bugs.yml
  .github/DISCUSSION_TEMPLATE/general.yml
  .github/DISCUSSION_TEMPLATE/ideas.yml
  .github/DISCUSSION_TEMPLATE/q-a.yml
Due: prettier

chore: simplify search engine support request instructions in discussion template
  .github/DISCUSSION_TEMPLATE/ideas.yml
Due: prettier

chore: remove titles and labels from discussion templates
  .github/DISCUSSION_TEMPLATE/bugs.yml
  .github/DISCUSSION_TEMPLATE/general.yml
  .github/DISCUSSION_TEMPLATE/ideas.yml
  .github/DISCUSSION_TEMPLATE/q-a.yml
Due: prettier

chore: update issue config
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/maintainer.md
Due: prettier

docs: add contributing guideline
  CONTRIBUTING.md
  README.md
  README.zh-CN.md
Due: prettier

wip: update locale-related files
  package.json
  scripts/build.ts
  scripts/generate-message-names.ts
  src/_locales/de/messages.json
  src/_locales/de/messages.json.ts
  src/_locales/en/messages.json
  src/_locales/en/messages.json.ts
  src/_locales/es/messages.json
  src/_locales/es/messages.json.ts
  src/_locales/fr/messages.json
  src/_locales/fr/messages.json.ts
  src/_locales/helpers.ts
  src/_locales/ja/messages.json
  src/_locales/ja/messages.json.ts
  src/_locales/ko/messages.json
  src/_locales/ko/messages.json.ts
  src/_locales/pl/messages.json
  src/_locales/pl/messages.json.ts
  src/_locales/pt_BR/messages.json
  src/_locales/pt_BR/messages.json.ts
  src/_locales/ru/messages.json
  src/_locales/ru/messages.json.ts
  src/_locales/tr/messages.json
  src/_locales/tr/messages.json.ts
  src/_locales/uk/messages.json
  src/_locales/uk/messages.json.ts
  src/_locales/zh_CN/messages.json
  src/_locales/zh_CN/messages.json.ts
  src/_locales/zh_TW/messages.json
  src/_locales/zh_TW/messages.json.ts
  src/common/locales.ts
  src/common/message-names.generated.ts
  src/scripts/types.ts
  tsconfig.node.json
  web-store-assets/pt_BR/description.txt
  web-store-assets/zh_CN/description.txt
  web-store-assets/zh_TW/description.txt
Due: biome

wip: add crowdin files
  .github/workflows/crowdin.yml
  crowdin.yml
Due: prettier
