Repository iorate/ublacklist: changes, and which lefthook commands are due for each by the changed paths.
All: biome, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    biome:
      glob: "*.{js,cjs,mjs,ts,cts,mts,jsx,tsx,json,jsonc}"
      run: pnpm biome check --apply --no-errors-on-unmatched {staged_files}
      stage_fixed: true
    prettier:
      glob: "*.{css,yml,yaml,md,markdown}"
      run: pnpm prettier --write {staged_files}
      stage_fixed: true

Replace the webdav library with a built-in client (#1049)
  .changeset/supposedly-immune-platypus.md
  package.json
  pnpm-lock.yaml
  src/scripts/background/sync-backends.ts
  src/scripts/sync-backends/webdav.test.ts
  src/scripts/sync-backends/webdav.ts
Due: biome, prettier

Create the WebDAV folder if it does not exist
  .changeset/quietly-patient-heron.md
  src/_locales/en/messages.json
  src/scripts/background/sync-backends.ts
  src/scripts/options/sync-section/webdav-form.tsx
  src/scripts/shared/message-names.generated.ts
  src/scripts/sync-backends/webdav.test.ts
  src/scripts/sync-backends/webdav.ts
Due: biome, prettier

Create the WebDAV folder if it does not exist (#1050)
  .changeset/quietly-patient-heron.md
  src/_locales/en/messages.json
  src/scripts/background/sync-backends.ts
  src/scripts/options/sync-section/webdav-form.tsx
  src/scripts/shared/message-names.generated.ts
  src/scripts/sync-backends/webdav.test.ts
  src/scripts/sync-backends/webdav.ts
Due: biome, prettier

New Crowdin translations by GitHub Action
  src/_locales/de/messages.json
  src/_locales/es/messages.json
  src/_locales/fr/messages.json
  src/_locales/ja/messages.json
  src/_locales/ko/messages.json
  src/_locales/pl/messages.json
  src/_locales/pt_BR/messages.json
  src/_locales/ru/messages.json
  src/_locales/tr/messages.json
  src/_locales/uk/messages.json
  src/_locales/zh_CN/messages.json
  src/_locales/zh_TW/messages.json
Due: biome

Recreate the WebDAV folder before uploading if it is missing
  src/scripts/sync-backends/webdav.test.ts
  src/scripts/sync-backends/webdav.ts
Due: biome

Recreate the WebDAV folder before uploading if it is missing (#1052)
  src/scripts/sync-backends/webdav.test.ts
  src/scripts/sync-backends/webdav.ts
Due: biome

New Crowdin translations by GitHub Action
  src/_locales/ja/messages.json
Due: biome

Skip translation changesets for messages changed since the last release
  .changeset/zz-ja.md
  .github/workflows/crowdin-download.yml
Due: prettier

Keep the language code case in translation changeset file names
  .github/workflows/crowdin-download.yml
Due: prettier

Add OneDrive sync
  .changeset/rarely-casual-hippo.md
  .github/workflows/publish.yml
  CONTRIBUTING.md
  README.md
  scripts/build.ts
  src/_locales/en/messages.json
  src/scripts/options/sync-section/form-parts.tsx
  src/scripts/options/sync-section/message-names.ts
  src/scripts/shared/globals.ts
  src/scripts/shared/message-names.generated.ts
  src/scripts/shared/supported-clouds.ts
  src/scripts/shared/types.ts
  src/scripts/sync-backends/one-drive.ts
Due: biome, prettier

Rename one-drive.ts to onedrive.ts and throw early on error responses
  src/scripts/shared/supported-clouds.ts
  src/scripts/sync-backends/onedrive.ts
Due: biome

New Crowdin translations by GitHub Action
  README.de.md
  README.zh-CN.md
  src/_locales/de/messages.json
  src/_locales/es/messages.json
  src/_locales/fr/messages.json
  src/_locales/ja/messages.json
  src/_locales/ko/messages.json
  src/_locales/pl/messages.json
  src/_locales/pt_BR/messages.json
  src/_locales/ru/messages.json
  src/_locales/tr/messages.json
  src/_locales/uk/messages.json
  src/_locales/zh_CN/messages.json
  src/_locales/zh_TW/messages.json
Due: biome, prettier

Show an empty popup dialog on pages that cannot be blocked
  .changeset/remotely-rapid-sculpin.md
  src/scripts/block-dialog/index.tsx
  src/scripts/popup/index.tsx
Due: biome, prettier

Require pnpm 10.30.3 or later
  AGENTS.md
  CONTRIBUTING.md
  release/firefox/approval-notes.txt
Due: prettier

Configure git-submodules Renovate settings locally
  renovate.json
Due: biome

Drop the git-submodules minimumReleaseAge override
  renovate.json
Due: biome

Rename the Crowdin exclude file and set the Crowdin workflow messages
  .github/crowdin.gitignore
  .github/workflows/crowdin-download.yml
  .github/workflows/crowdin-upload.yml
  scripts/generate-languages.ts
Due: biome, prettier

Show a "This page cannot be blocked" dialog in the popup
  .changeset/remotely-rapid-sculpin.md
  src/_locales/en/messages.json
  src/scripts/popup/index.tsx
  src/scripts/shared/message-names.generated.ts
Due: biome, prettier

Import translations from Crowdin
  src/_locales/de/messages.json
  src/_locales/es/messages.json
  src/_locales/fr/messages.json
  src/_locales/ja/messages.json
  src/_locales/ko/messages.json
  src/_locales/pl/messages.json
  src/_locales/pt_BR/messages.json
  src/_locales/ru/messages.json
  src/_locales/tr/messages.json
  src/_locales/uk/messages.json
  src/_locales/zh_CN/messages.json
  src/_locales/zh_TW/messages.json
Due: biome

Import translations from Crowdin
  src/_locales/ja/messages.json
Due: biome

Show the page URL in the "This page cannot be blocked" dialog
  .changeset/remotely-rapid-sculpin.md
  src/scripts/popup/index.module.css
  src/scripts/popup/index.tsx
Due: biome, prettier

Import translations from Crowdin
  README.de.md
  src/_locales/de/messages.json
Due: biome, prettier

Try publishing to Edge Add-ons without notes first
  .github/workflows/publish.yml
Due: prettier

Try publishing to Edge Add-ons without notes first (#1092)
  .github/workflows/publish.yml
Due: prettier

Publish to Edge Add-ons without notes
  .github/workflows/publish.yml
Due: prettier

Publish to Edge Add-ons without notes (#1093)
  .github/workflows/publish.yml
Due: prettier

Restore notes for Edge Add-ons submissions
  .github/workflows/publish.yml
Due: prettier

Restore notes for Edge Add-ons submissions (#1094)
  .github/workflows/publish.yml
Due: prettier

Migrate from pnpm/action-setup to pnpm/setup
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  .github/workflows/version.yml
Due: prettier

Migrate from pnpm/action-setup to pnpm/setup (#1095)
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  .github/workflows/version.yml
Due: prettier

Rely on the shared Renovate config for git submodule settings
  renovate.json
Due: biome

Rely on the shared Renovate config for git submodule settings (#1097)
  renovate.json
Due: biome

Remove pnpm/setup from version.yml
  .github/workflows/version.yml
Due: prettier

Remove pnpm/setup from version.yml (#1100)
  .github/workflows/version.yml
Due: prettier

Point Google /goto reports to the pinned discussion in the bug template
  .github/DISCUSSION_TEMPLATE/bugs.yml
Due: prettier

Point Google /goto reports to the pinned discussion in the bug template (#1106)
  .github/DISCUSSION_TEMPLATE/bugs.yml
Due: prettier

Maintain lock files weekly
  .github/workflows/renovate.yml
Due: prettier

Maintain lock files weekly (#1108)
  .github/workflows/renovate.yml
Due: prettier

Prevent default on block button click
  .changeset/quiet-anchor-button.md
  src/scripts/content-script/commands.ts
Due: biome, prettier
