Repository iorate/ublacklist: changes, and which lefthook commands are due for each by the changed paths.
All: biome, prettier

biome:
  run: pnpm biome check --apply --no-errors-on-unmatched {staged_files}
  stage_fixed: true

prettier:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

Run pre-commit hooks serially to avoid pnpm symlink race (#870)
  lefthook.yml
Due: prettier

Organize release notes by store and use releases/latest for Edge
  .github/workflows/publish.yml
  release/edge/notes-for-certification.txt
  release/firefox/approval-notes.txt
Due: prettier

Refactor third-party license notice generation
  scripts/build.ts
  scripts/get-license-texts.ts
  third-party/is-mobile/LICENSE
Due: biome

Organize release notes by store and use releases/latest for Edge (#871)
  .github/workflows/publish.yml
  release/edge/notes-for-certification.txt
  release/firefox/approval-notes.txt
Due: prettier

Refactor third-party license notice generation (#872)
  scripts/build.ts
  scripts/get-license-texts.ts
  third-party/is-mobile/LICENSE
Due: biome

Group Renovate minor/patch update PRs
  renovate.json
Due: biome

Group Renovate minor/patch update PRs (#879)
  renovate.json
Due: biome

Extend the shared Renovate preset from ublacklist/.github
  renovate.json
Due: biome

Extend the shared Renovate preset from ublacklist/.github (#880)
  renovate.json
Due: biome

Add concurrency control to the CI workflow
  .github/workflows/ci.yml
  .github/workflows/crowdin.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
Due: prettier

Add concurrency control to the CI workflow (#881)
  .github/workflows/ci.yml
  .github/workflows/crowdin.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
Due: prettier

Scope release publishing secrets to per-store environments
  .github/workflows/publish.yml
Due: prettier

Scope release publishing secrets to per-store environments (#882)
  .github/workflows/publish.yml
Due: prettier

Use the unified BOT_ app credentials in the crowdin workflow
  .github/workflows/crowdin.yml
Due: prettier

Use the unified BOT_ app credentials in the crowdin workflow (#883)
  .github/workflows/crowdin.yml
Due: prettier

Load the block dialog lazily in the content script
  scripts/build.ts
  src/manifest.ts
  src/scripts/block-dialog/index.tsx
  src/scripts/content-script/dialog.ts
  src/scripts/content-script/dialog.tsx
  src/scripts/content-script/filter.ts
  src/scripts/shared/interactive-ruleset.test.ts
  src/scripts/shared/interactive-ruleset.ts
Due: biome

Preload the block dialog on hover, focus, and mousedown
  src/scripts/content-script/commands.ts
  src/scripts/content-script/dialog.ts
  src/scripts/content-script/filter.ts
Due: biome

Load the block dialog lazily in the content script (#886)
  scripts/build.ts
  src/manifest.ts
  src/scripts/block-dialog/index.tsx
  src/scripts/content-script/commands.ts
  src/scripts/content-script/dialog.ts
  src/scripts/content-script/dialog.tsx
  src/scripts/content-script/filter.ts
  src/scripts/shared/interactive-ruleset.test.ts
  src/scripts/shared/interactive-ruleset.ts
Due: biome

Add end-to-end smoke tests for the options page
  e2e/tests/options.spec.ts
  src/scripts/options/general-section.tsx
  src/scripts/options/set-boolean-item.tsx
  src/scripts/options/set-interval-item.tsx
  src/scripts/options/subscription-section.tsx
Due: biome

Add end-to-end smoke tests for the options page (#887)
  e2e/tests/options.spec.ts
  src/scripts/options/general-section.tsx
  src/scripts/options/set-boolean-item.tsx
  src/scripts/options/set-interval-item.tsx
  src/scripts/options/subscription-section.tsx
Due: biome

Introduce CSS modules and CSS variable based theming
  src/pages/options.html
  src/pages/popup.html
  src/pages/serpinfo-options.html
  src/scripts/components/badge.module.css
  src/scripts/components/badge.tsx
  src/scripts/components/baseline.css
  src/scripts/components/baseline.tsx
  src/scripts/components/theme.css
  src/scripts/components/theme.tsx
  src/scripts/options/index.tsx
  src/scripts/popup/index.tsx
  src/scripts/serpinfo-options/index.tsx
  src/scripts/shared/globals.ts
Due: biome, prettier

Introduce CSS modules and CSS variable based theming (#888)
  src/pages/options.html
  src/pages/popup.html
  src/pages/serpinfo-options.html
  src/scripts/components/badge.module.css
  src/scripts/components/badge.tsx
  src/scripts/components/baseline.css
  src/scripts/components/baseline.tsx
  src/scripts/components/theme.css
  src/scripts/components/theme.tsx
  src/scripts/options/index.tsx
  src/scripts/popup/index.tsx
  src/scripts/serpinfo-options/index.tsx
  src/scripts/shared/globals.ts
Due: biome, prettier

Manage options page state with zustand
  src/scripts/components/theme.tsx
  src/scripts/options/appearance-section.tsx
  src/scripts/options/general-section.tsx
  src/scripts/options/index.tsx
  src/scripts/options/options-context.tsx
  src/scripts/options/platform.ts
  src/scripts/options/select.tsx
  src/scripts/options/set-boolean-item.tsx
  src/scripts/options/set-interval-item.tsx
  src/scripts/options/subscription-section.tsx
  src/scripts/options/sync-section.tsx
Due: biome

Manage options page state with zustand (#889)
  src/scripts/components/theme.tsx
  src/scripts/options/appearance-section.tsx
  src/scripts/options/general-section.tsx
  src/scripts/options/index.tsx
  src/scripts/options/options-context.tsx
  src/scripts/options/platform.ts
  src/scripts/options/select.tsx
  src/scripts/options/set-boolean-item.tsx
  src/scripts/options/set-interval-item.tsx
  src/scripts/options/subscription-section.tsx
  src/scripts/options/sync-section.tsx
Due: biome

Rename the ub-root class to root
  src/scripts/components/theme.css
  src/scripts/components/theme.tsx
Due: biome, prettier

Rename the ub-root class to root (#890)
  src/scripts/components/theme.css
  src/scripts/components/theme.tsx
Due: biome, prettier

Replace the switch, checkbox, and radio button with Base UI
  package.json
  pnpm-lock.yaml
  src/scripts/components/checkbox.module.css
  src/scripts/components/checkbox.tsx
  src/scripts/components/radio-button.tsx
  src/scripts/components/radio.module.css
  src/scripts/components/switch.module.css
  src/scripts/components/switch.tsx
  src/scripts/options/appearance-section.tsx
  src/scripts/options/general-section.tsx
  src/scripts/options/set-boolean-item.tsx
  src/scripts/options/subscription-section.tsx
  src/scripts/options/sync-section.tsx
  src/scripts/popup/serpinfo.tsx
  src/scripts/serpinfo-options/index.tsx
Due: biome, prettier

Replace the switch, checkbox, and radio button with Base UI (#891)
  package.json
  pnpm-lock.yaml
  src/scripts/components/checkbox.module.css
  src/scripts/components/checkbox.tsx
  src/scripts/components/radio-button.tsx
  src/scripts/components/radio.module.css
  src/scripts/components/switch.module.css
  src/scripts/components/switch.tsx
  src/scripts/options/appearance-section.tsx
  src/scripts/options/general-section.tsx
  src/scripts/options/set-boolean-item.tsx
  src/scripts/options/subscription-section.tsx
  src/scripts/options/sync-section.tsx
  src/scripts/popup/serpinfo.tsx
  src/scripts/serpinfo-options/index.tsx
Due: biome, prettier

Migrate dialogs to Base UI and unmount them on close
  src/scripts/block-dialog/index.tsx
  src/scripts/components/dialog.module.css
  src/scripts/components/dialog.tsx
  src/scripts/components/legacy-dialog.tsx
  src/scripts/components/portal.tsx
  src/scripts/components/utilities.ts
  src/scripts/options/general-section.tsx
  src/scripts/options/index.tsx
  src/scripts/options/subscription-section.ts
  src/scripts/options/subscription-section.tsx
  src/scripts/options/subscription-section/add-dialog.tsx
  src/scripts/options/subscription-section/index.tsx
  src/scripts/options/subscription-section/rename-dialog.tsx
  src/scripts/options/subscription-section/row.tsx
  src/scripts/options/subscription-section/show-dialog.tsx
  src/scripts/options/sync-section.tsx
  src/scripts/popup/serpinfo.tsx
  src/scripts/serpinfo-options/index.tsx
Due: biome, prettier

Split dialog form state into per-field useState hooks
  src/scripts/options/general-section.tsx
  src/scripts/options/subscription-section/add-dialog.tsx
  src/scripts/options/sync-section.tsx
  src/scripts/serpinfo-options/index.tsx
Due: biome

Use urlValid directly instead of aliasing it
  src/scripts/options/subscription-section/add-dialog.tsx
  src/scripts/serpinfo-options/index.tsx
Due: biome

Migrate dialogs to Base UI and unmount them on close (#892)
  src/scripts/block-dialog/index.tsx
  src/scripts/components/dialog.module.css
  src/scripts/components/dialog.tsx
  src/scripts/components/legacy-dialog.tsx
  src/scripts/components/portal.tsx
  src/scripts/components/utilities.ts
  src/scripts/options/general-section.tsx
  src/scripts/options/index.tsx
  src/scripts/options/subscription-section.ts
  src/scripts/options/subscription-section.tsx
  src/scripts/options/subscription-section/add-dialog.tsx
  src/scripts/options/subscription-section/index.tsx
  src/scripts/options/subscription-section/rename-dialog.tsx
  src/scripts/options/subscription-section/row.tsx
  src/scripts/options/subscription-section/show-dialog.tsx
  src/scripts/options/sync-section.tsx
  src/scripts/popup/serpinfo.tsx
  src/scripts/serpinfo-options/index.tsx
Due: biome, prettier

Migrate the subscription menu to Base UI
  src/scripts/block-dialog/index.tsx
  src/scripts/components/legacy-menu.tsx
  src/scripts/components/menu.module.css
  src/scripts/components/menu.tsx
  src/scripts/options/subscription-section/row.tsx
Due: biome, prettier

Migrate the subscription menu to Base UI (#893)
  src/scripts/block-dialog/index.tsx
  src/scripts/components/legacy-menu.tsx
  src/scripts/components/menu.module.css
  src/scripts/components/menu.tsx
  src/scripts/options/subscription-section/row.tsx
Due: biome, prettier

Migrate the select to Base UI
  e2e/tests/options.spec.ts
  src/scripts/components/select.module.css
  src/scripts/components/select.tsx
  src/scripts/options/general-section.tsx
  src/scripts/options/select.tsx
  src/scripts/options/set-interval-item.tsx
  src/scripts/options/subscription-section/add-dialog.tsx
  src/scripts/options/sync-section.tsx
Due: biome, prettier

Migrate the select to Base UI (#894)
  e2e/tests/options.spec.ts
  src/scripts/components/select.module.css
  src/scripts/components/select.tsx
  src/scripts/options/general-section.tsx
  src/scripts/options/select.tsx
  src/scripts/options/set-interval-item.tsx
  src/scripts/options/subscription-section/add-dialog.tsx
  src/scripts/options/sync-section.tsx
Due: biome, prettier

Migrate the color picker popover to Base UI
  .changeset/tidy-pugs-repair.md
  src/scripts/components/color-picker.module.css
  src/scripts/components/color-picker.tsx
  src/scripts/components/constants.ts
  src/scripts/options/appearance-section.tsx
Due: biome, prettier

Migrate the color picker popover to Base UI (#895)
  .changeset/tidy-pugs-repair.md
  src/scripts/components/color-picker.module.css
  src/scripts/components/color-picker.tsx
  src/scripts/components/constants.ts
  src/scripts/options/appearance-section.tsx
Due: biome, prettier

Path conditions:
  biome: any of: *.{js,cjs,mjs,ts,cts,mts,jsx,tsx,json,jsonc}
  prettier: any of: *.{css,yml,yaml,md,markdown}
