Repository iorate/ublacklist: changes, and which lefthook commands are due for each by the changed paths.
All: biome, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    biome:
      glob: "*.{js,cjs,mjs,ts,cts,mts,jsx,tsx,json,jsonc}"
      run: pnpm biome check --apply --no-errors-on-unmatched {staged_files}
      stage_fixed: true
    prettier:
      glob: "*.{css,yml,yaml,md,markdown}"
      run: pnpm prettier --write {staged_files}
      stage_fixed: true

Prevent default on block button click (#1115)
  .changeset/quiet-anchor-button.md
  src/scripts/content-script/commands.ts
Due: biome, prettier

Import translations from Crowdin
  src/_locales/ko/messages.json
Due: biome

Enable Korean README and website
  .github/crowdin.gitignore
  README.md
  languages.yml
  src/scripts/shared/locales.generated.ts
Due: biome, prettier

Enable Korean README and website (#1118)
  .github/crowdin.gitignore
  README.md
  languages.yml
  src/scripts/shared/locales.generated.ts
Due: biome, prettier

Import translations from Crowdin
  README.de.md
  README.ko.md
  README.zh-CN.md
Due: prettier
