Repository iorate/ublacklist: changes, and which lefthook commands are due for each by the changed paths.
All: biome, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    biome:
      glob: "*.{js,cjs,mjs,ts,cts,mts,jsx,tsx,json,jsonc}"
      run: pnpm biome check --apply --no-errors-on-unmatched {staged_files}
      stage_fixed: true
    prettier:
      glob: "*.{css,yml,yaml,md,markdown}"
      run: pnpm prettier --write {staged_files}
      stage_fixed: true

Remove .prettierignore
  .prettierignore
Due: none

Remove .prettierignore (#1007)
  .prettierignore
Due: none

Replace tsconfig exclude with an explicit include list
  tsconfig.json
Due: biome

Replace tsconfig exclude with an explicit include list (#1008)
  tsconfig.json
Due: biome

Fix formatting
  src/scripts/options/shared/set-boolean-item.tsx
Due: biome

Automerge builtin submodule updates in Renovate
  renovate.json
Due: biome

Automerge builtin submodule updates in Renovate (#1011)
  renovate.json
Due: biome

Update changesette to v3
  .github/workflows/publish.yml
  .github/workflows/version.yml
Due: prettier

Update changesette to v3 (#1015)
  .github/workflows/publish.yml
  .github/workflows/version.yml
Due: prettier

Update changesette to v4
  .github/workflows/publish.yml
  .github/workflows/version.yml
Due: prettier

Update changesette to v4 (#1018)
  .github/workflows/publish.yml
  .github/workflows/version.yml
Due: prettier

Turn off React Compiler rules enabled by default in oxlint 1.79.0
  .oxlintrc.json
Due: biome

Fix ref and setState usages flagged by oxlint React Compiler rules
  .oxlintrc.json
  src/scripts/options/appearance-section.tsx
  src/scripts/options/shared/set-interval-item.tsx
  src/scripts/options/subscription-section/index.tsx
  src/scripts/serpinfo-options/index.tsx
Due: biome

Fix ref and setState usages flagged by oxlint React Compiler rules (#1021)
  .oxlintrc.json
  src/scripts/options/appearance-section.tsx
  src/scripts/options/shared/set-interval-item.tsx
  src/scripts/options/subscription-section/index.tsx
  src/scripts/serpinfo-options/index.tsx
Due: biome

Update changesette to v5
  .changeset/README.md
  .changeset/config.json
  .github/workflows/publish.yml
  .github/workflows/version.yml
Due: biome, prettier

Update changesette to v5 (#1022)
  .changeset/README.md
  .changeset/config.json
  .github/workflows/publish.yml
  .github/workflows/version.yml
Due: biome, prettier

Update changesette to v6
  .github/workflows/publish.yml
  .github/workflows/version.yml
Due: prettier

Update changesette to v6 (#1023)
  .github/workflows/publish.yml
  .github/workflows/version.yml
Due: prettier

Re-evaluate search results when their links are rewritten in place
  .changeset/randomly-caring-dane.md
  src/scripts/content-script/filter.ts
Due: biome, prettier

Re-evaluate search results when their links are rewritten in place (#1027)
  .changeset/randomly-caring-dane.md
  src/scripts/content-script/filter.ts
Due: biome, prettier

Restrict the final domain label to letters in domainToURL
  .changeset/nationally-joint-duck.md
  src/scripts/content-script/commands.ts
Due: biome, prettier

Restrict the final domain label to letters in domainToURL (#1029)
  .changeset/nationally-joint-duck.md
  src/scripts/content-script/commands.ts
Due: biome, prettier

Import zod as a namespace to enable tree shaking
  .changeset/gratefully-brief-thrush.md
  src/scripts/background/sync-sections.ts
  src/scripts/options/backup-restore-section.tsx
  src/scripts/shared/serpinfo-settings.ts
  src/scripts/sync-backends/browser-sync.ts
  src/scripts/sync-backends/cloud-utils.ts
  src/scripts/sync-backends/dropbox.ts
  src/scripts/sync-backends/google-drive.ts
Due: biome, prettier

Import zod as a namespace to enable tree shaking (#1037)
  .changeset/gratefully-brief-thrush.md
  src/scripts/background/sync-sections.ts
  src/scripts/options/backup-restore-section.tsx
  src/scripts/shared/serpinfo-settings.ts
  src/scripts/sync-backends/browser-sync.ts
  src/scripts/sync-backends/cloud-utils.ts
  src/scripts/sync-backends/dropbox.ts
  src/scripts/sync-backends/google-drive.ts
Due: biome, prettier

Generate language settings from languages.yml
  .github/workflows/ci.yml
  .github/workflows/crowdin-upload.yml
  .gitignore
  crowdin.yml
  languages.yml
  package.json
  pnpm-lock.yaml
  scripts/generate-languages.ts
  src/_locales/en/messages.json
  src/scripts/background/sync-sections.test.ts
  src/scripts/shared/locales.ts
  src/scripts/shared/message-names.generated.ts
  src/scripts/shared/website-locales.generated.ts
Due: biome, prettier

Generate language settings from languages.yml (#1039)
  .github/workflows/ci.yml
  .github/workflows/crowdin-upload.yml
  .gitignore
  crowdin.yml
  languages.yml
  package.json
  pnpm-lock.yaml
  scripts/generate-languages.ts
  src/_locales/en/messages.json
  src/scripts/background/sync-sections.test.ts
  src/scripts/shared/locales.ts
  src/scripts/shared/message-names.generated.ts
  src/scripts/shared/website-locales.generated.ts
Due: biome, prettier

Fix the Crowdin language code for Spanish
  crowdin.yml
  languages.yml
Due: prettier

Fix the Crowdin language code for Spanish (#1040)
  crowdin.yml
  languages.yml
Due: prettier

New Crowdin translations by GitHub Action
  src/_locales/de/messages.json
  src/_locales/es/messages.json
  src/_locales/fr/messages.json
  src/_locales/ja/messages.json
  src/_locales/ko/messages.json
  src/_locales/pl/messages.json
  src/_locales/pt_BR/messages.json
  src/_locales/ru/messages.json
  src/_locales/tr/messages.json
  src/_locales/uk/messages.json
  src/_locales/zh_CN/messages.json
  src/_locales/zh_TW/messages.json
Due: biome

Ignore README translations not yet merged in the Crowdin workflows
  .github/crowdin-git-exclude
  .github/workflows/crowdin-download.yml
  .github/workflows/crowdin-upload.yml
  crowdin.yml
  languages.yml
  scripts/generate-languages.ts
  scripts/languages.ts
Due: biome, prettier

Ignore README translations not yet merged in the Crowdin workflows (#1042)
  .github/crowdin-git-exclude
  .github/workflows/crowdin-download.yml
  .github/workflows/crowdin-upload.yml
  crowdin.yml
  languages.yml
  scripts/generate-languages.ts
  scripts/languages.ts
Due: biome, prettier

New Crowdin translations by GitHub Action
  README.de.md
Due: prettier

Shorten the comments in the Crowdin workflows
  .github/workflows/crowdin-download.yml
  .github/workflows/crowdin-upload.yml
Due: prettier

Shorten the comments in the Crowdin workflows (#1044)
  .github/workflows/crowdin-download.yml
  .github/workflows/crowdin-upload.yml
Due: prettier

Key languages.yml by language tag and remove the lang message
  crowdin.yml
  languages.yml
  scripts/generate-languages.ts
  scripts/languages.ts
  src/_locales/en/messages.json
  src/scripts/options/index.tsx
  src/scripts/options/shared/from-now.tsx
  src/scripts/popup/index.tsx
  src/scripts/serpinfo-options/index.tsx
  src/scripts/shared/dayjs-locales.generated.ts
  src/scripts/shared/locales.generated.ts
  src/scripts/shared/locales.ts
  src/scripts/shared/message-names.generated.ts
  src/scripts/shared/website-locales.generated.ts
Due: biome, prettier

Key languages.yml by language tag and remove the lang message (#1045)
  crowdin.yml
  languages.yml
  scripts/generate-languages.ts
  scripts/languages.ts
  src/_locales/en/messages.json
  src/scripts/options/index.tsx
  src/scripts/options/shared/from-now.tsx
  src/scripts/popup/index.tsx
  src/scripts/serpinfo-options/index.tsx
  src/scripts/shared/dayjs-locales.generated.ts
  src/scripts/shared/locales.generated.ts
  src/scripts/shared/locales.ts
  src/scripts/shared/message-names.generated.ts
  src/scripts/shared/website-locales.generated.ts
Due: biome, prettier

Replace the webdav library with a built-in client
  .changeset/supposedly-immune-platypus.md
  package.json
  pnpm-lock.yaml
  src/scripts/background/sync-backends.ts
  src/scripts/sync-backends/webdav.test.ts
  src/scripts/sync-backends/webdav.ts
Due: biome, prettier
