Repository iorate/ublacklist: changes, and which lefthook commands are due for each by the changed paths.
All: biome, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    biome:
      glob: "*.{js,cjs,mjs,ts,cts,mts,jsx,tsx,json,jsonc}"
      run: pnpm biome check --apply --no-errors-on-unmatched {staged_files}
      stage_fixed: true
    prettier:
      glob: "*.{css,yml,yaml,md,markdown}"
      run: pnpm prettier --write {staged_files}
      stage_fixed: true

build: update dependencies
  .npmrc
  package.json
  pnpm-lock.yaml
  src/scripts/components/button.tsx
  src/scripts/components/checkbox.tsx
  src/scripts/components/color-picker.tsx
  src/scripts/components/container.tsx
  src/scripts/components/details.tsx
  src/scripts/components/dialog.tsx
  src/scripts/components/helpers.tsx
  src/scripts/components/icon-button.tsx
  src/scripts/components/icon.tsx
  src/scripts/components/indent.tsx
  src/scripts/components/input.tsx
  src/scripts/components/label.tsx
  src/scripts/components/link.tsx
  src/scripts/components/list.tsx
  src/scripts/components/menu.tsx
  src/scripts/components/radio-button.tsx
  src/scripts/components/row.tsx
  src/scripts/components/section.tsx
  src/scripts/components/select.tsx
  src/scripts/components/switch.tsx
  src/scripts/components/table.tsx
  src/scripts/components/text.tsx
  src/scripts/components/textarea.tsx
  src/third-party-notices.txt
  website/package.json
Due: biome, prettier

fix(google): fix position of control
  src/scripts/search-engines/google-desktop.ts
Due: biome

refactor: remove parameter properties
  src/scripts/utilities.ts
Due: biome

make this feature optional
  src/_locales/en/messages.json.ts
  src/common/locales.ts
  src/scripts/background/backup-restore.ts
  src/scripts/background/local-storage.ts
  src/scripts/background/sync.ts
  src/scripts/block-dialog.tsx
  src/scripts/content-script.tsx
  src/scripts/local-storage.ts
  src/scripts/options/backup-restore-section.tsx
  src/scripts/options/general-section.tsx
  src/scripts/popup.tsx
  src/scripts/types.ts
Due: biome

add Japanese translation
  src/_locales/ja/messages.json.ts
Due: biome

docs(readme): Sync README.zh-CN.md (#543)
  README.zh-CN.md
Due: prettier

docs(website): Update subscriptions.md (#548)
  website/src/pages/subscriptions.md
Due: prettier

docs(website): Update subscriptions.md (#555)
  website/src/pages/subscriptions.md
Due: prettier

Notes added by 'git notes add'
  5310db56cf9370e000a9ec6235dc91fc39aa8125
Due: none

update pod
  safari-project/Podfile.lock
  safari-project/uBlacklist for Safari.xcodeproj/project.pbxproj
Due: none

update Chinese translation
  src/_locales/zh_CN/messages.json.ts
  src/_locales/zh_TW/messages.json.ts
Due: biome

fix(locales): update Chinese translation (#574)
  src/_locales/zh_CN/messages.json.ts
  src/_locales/zh_TW/messages.json.ts
Due: biome

update ecosia element selectors
  src/scripts/search-engines/ecosia.ts
Due: biome

Update README.md
  README.md
Due: prettier

fix(ecosia): update ecosia element selectors (#578)
  src/scripts/search-engines/ecosia.ts
Due: biome

Notes added by 'git notes add'
  716104b53d9e395a7aa56dbdf7dfff7e2436d4f4
Due: none

feat: add searxng instance
  src/common/search-engines.ts
Due: biome

fix(google): results with site link and videos
  src/scripts/search-engines/google-desktop.ts
Due: biome

Notes added by 'git notes add'
  4355ab1e31939b370f8290873e9d79e06d072ecc
Due: none

Update getting-started.md
  website/docs/getting-started.md
Due: prettier

feat(searx): add searxng instance (#591)
  src/common/search-engines.ts
Due: biome

docs(readme): add references to the variable and string match grammar (#579)
  README.md
Due: prettier

fix(locales): update German translation (#563)
  src/_locales/de/messages.json.ts
Due: biome

feat(yandex): add support for yandex.ru (#566)
  src/common/search-engines.ts
Due: biome

feat(brave,duckduckgo,startpage) detect .onion versions (#533)
  src/common/search-engines.ts
Due: biome

chore: pin versions of GitHub Actions
  .github/actions/setup-pnpm/action.yml
  .github/workflows/check.yml
  .github/workflows/deploy.yml
  .github/workflows/website-deploy.yml
Due: prettier

chore: remove instructions to use corepack
  README.md
  README.zh-CN.md
  release.config.ts
Due: biome, prettier

Notes added by 'git notes add'
  ceb486585aa436e065dd7095cf114bd749d847e9
Due: none

remove .vscode folder
  .gitignore
  .vscode/extensions.json
  .vscode/settings.json
Due: biome

fix Safari permission bug temporary
  safari-project/uBlacklist for Safari.xcodeproj/project.pbxproj
  src/manifest.json.ts
Due: biome

Add BadWebsiteBlocklist
  website/src/pages/subscriptions.md
Due: prettier

revert unnecessary change
  website/src/pages/subscriptions.md
Due: prettier

docs(website): add BadWebsiteBlocklist (#599)
  website/src/pages/subscriptions.md
Due: prettier

docs(website): remove edit links. Ref #600
  website/docusaurus.config.ts
  website/i18n/ja/docusaurus-plugin-content-pages/subscriptions.md
  website/src/pages/subscriptions.md
Due: biome, prettier

fix: update website URLs. Ref #600
  README.md
  README.zh-CN.md
  src/_locales/en/messages.json.ts
  src/scripts/locales.ts
  src/scripts/ruleset/ruleset.test.ts
  src/scripts/serpinfo/options.tsx
  web-store-assets/en/description.txt
  web-store-assets/es/description.txt
  web-store-assets/fr/description.txt
  web-store-assets/ja/description.txt
  web-store-assets/ko/description.txt
  web-store-assets/pt-br/description.txt
  web-store-assets/ru/description.txt
  web-store-assets/zh-tw/description.txt
Due: biome, prettier

Update messages.json.ts
  src/_locales/de/messages.json.ts
Due: biome

Remove a dead link
  website/src/pages/subscriptions.md
Due: prettier

feat(searx): add searxng instance
  src/common/search-engines.ts
Due: biome

ci: run biome and prettier sequentially in check-ci and fix
  package.json
Due: biome
