Repository iorate/ublacklist: changes, and which lefthook commands are due for each by the changed paths.
All: biome, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    biome:
      glob: "*.{js,cjs,mjs,ts,cts,mts,jsx,tsx,json,jsonc}"
      run: pnpm biome check --apply --no-errors-on-unmatched {staged_files}
      stage_fixed: true
    prettier:
      glob: "*.{css,yml,yaml,md,markdown}"
      run: pnpm prettier --write {staged_files}
      stage_fixed: true

adapt website change
  src/manifest.json.ts
Due: biome

perf(serpinfo): improve performance
  src/scripts/serpinfo/dialog.tsx
  src/scripts/serpinfo/filter.ts
  src/scripts/serpinfo/types.ts
Due: biome

fix(serpinfo): reject invalid prop names
  src/scripts/serpinfo/types.ts
Due: biome

Notes added by 'git notes add'
  1b58a6ed4c253012d28f95e4b4b361b15f21de66
Due: none

adapt website change
  safari-project/Shared (App)/Constants.swift
  safari-project/macOS (App)/Modules/Info/InfoViewController.swift
Due: none

fix subscription links ui in Safari
  src/scripts/options/subscription-section.tsx
Due: biome

update xc project file
  safari-project/uBlacklist for Safari.xcodeproj/project.pbxproj
Due: none

fix: subscription links UI in Safari
  src/scripts/options/subscription-section.tsx
Due: biome

fix: prevent subscription links from being blocked by Chrome
  src/manifest.json.ts
Due: biome

fix: disable debug log in production build
  src/scripts/serpinfo/filter.ts
Due: biome

docs(readme): subscription links do not work in Safari
  README.md
Due: prettier

docs(website): remove a dead link (#602)
  website/src/pages/subscriptions.md
Due: prettier

feat(searx): add searxng instance (#603)
  src/common/search-engines.ts
Due: biome

fix(serpinfo): wrong prop name validation broke SERPINFO for DuckDuckGo/SearXNG/StartPage
  src/scripts/serpinfo/types.ts
Due: biome

format
  src/_locales/de/messages.json.ts
Due: biome

remove `websiteLocale`
  src/_locales/de/messages.json.ts
Due: biome

fix(locales): update German translation (#601)
  src/_locales/de/messages.json.ts
Due: biome

docs(readme): clone submodules
  README.md
  README.zh-CN.md
Due: prettier

chore: no need to fix parallelly
  package.json
Due: biome

Notes added by 'git notes add'
  0cd1da6057147d31fcbab11c76e5f76a25f9e8d2
Due: none

chore: update packages
  pnpm-lock.yaml
  src/scripts/messages.ts
Due: biome, prettier

chore: remove unnecessary body
  .vscode/settings.json
  docs/404.html
Due: biome

feat: Manifest V3 is now used on Firefox and Safari
  src/manifest.json.ts
  src/scripts/serpinfo/background.ts
Due: biome

build: require pnpm>=10
  .npmrc
  .prettierignore
  README.md
  README.zh-CN.md
  package.json
  pnpm-workspace.yaml
  release.config.ts
Due: biome, prettier

chore: reword comment
  .gitignore
Due: none

ci: update actions
  .github/actions/setup-pnpm/action.yml
  .github/workflows/check.yml
  .github/workflows/deploy.yml
  package.json
Due: biome, prettier

chore: update npm scripts
  package.json
Due: biome

chore: set package version
  package.json
Due: biome

chore: update packages
  package.json
  pnpm-lock.yaml
Due: biome, prettier

update README
  safari-project/README.md
  safari-project/uBlacklist for Safari.xcodeproj/project.pbxproj
Due: prettier

更新简体中文语言文件
  src/_locales/zh_CN/messages.json.ts
Due: biome

更新繁體中文語言文件
  src/_locales/zh_TW/messages.json.ts
Due: biome

fix(ruleset): fix issue where invalid rule disables the previous rule
  src/scripts/ruleset/ruleset.ts
Due: biome

fix(ruleset): fix unclosed YAML frontmatter issue
  src/scripts/ruleset/ruleset.ts
  src/scripts/types.ts
  src/scripts/utilities.ts
Due: biome

fix(locales): update Chinese translation (#608)
  src/_locales/zh_CN/messages.json.ts
  src/_locales/zh_TW/messages.json.ts
Due: biome
