Repository iorate/ublacklist: changes, and which lefthook commands are due for each by the changed paths.
All: biome, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    biome:
      glob: "*.{js,cjs,mjs,ts,cts,mts,jsx,tsx,json,jsonc}"
      run: pnpm biome check --apply --no-errors-on-unmatched {staged_files}
      stage_fixed: true
    prettier:
      glob: "*.{css,yml,yaml,md,markdown}"
      run: pnpm prettier --write {staged_files}
      stage_fixed: true

Refresh access tokens 60 seconds before expiry
  .changeset/refresh-token-rotation.md
  src/scripts/sync-backends/cloud.test.ts
  src/scripts/sync-backends/cloud.ts
Due: biome, prettier

Construct the refreshed token explicitly
  src/scripts/sync-backends/cloud.ts
Due: biome

Make CloudToken.expiresAt nullable
  src/scripts/shared/types.ts
  src/scripts/sync-backends/cloud.test.ts
  src/scripts/sync-backends/cloud.ts
Due: biome

Remove the changeset
  .changeset/refresh-token-rotation.md
Due: prettier

Improve OAuth token refresh in Google Drive and Dropbox sync (#969)
  src/scripts/shared/types.ts
  src/scripts/sync-backends/cloud-utils.ts
  src/scripts/sync-backends/cloud.test.ts
  src/scripts/sync-backends/cloud.ts
Due: biome

Replace cloud client hooks with a single setToken callback
  src/scripts/background/sync-backends.ts
  src/scripts/shared/types.ts
  src/scripts/sync-backends/cloud.test.ts
  src/scripts/sync-backends/cloud.ts
  src/scripts/sync-backends/dropbox.ts
Due: biome

Replace cloud client hooks with a single setToken callback (#970)
  src/scripts/background/sync-backends.ts
  src/scripts/shared/types.ts
  src/scripts/sync-backends/cloud.test.ts
  src/scripts/sync-backends/cloud.ts
  src/scripts/sync-backends/dropbox.ts
Due: biome

Replace changesets with pnpm native release management
  .changeset/README.md
  .changeset/config.json
  .github/workflows/publish.yml
  .github/workflows/release.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  release/scripts/build-release-notes.ts
  release/scripts/build-version-pr-body.ts
  release/scripts/release-notes.test.ts
  release/scripts/release-notes.ts
Due: biome, prettier

Replace changesets with pnpm native release management (#972)
  .changeset/README.md
  .changeset/config.json
  .github/workflows/publish.yml
  .github/workflows/release.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  release/scripts/build-release-notes.ts
  release/scripts/build-version-pr-body.ts
  release/scripts/release-notes.test.ts
  release/scripts/release-notes.ts
Due: biome, prettier

Change oauth-pkce changeset bump to patch
  .changeset/oauth-pkce.md
Due: prettier

Change oauth-pkce changeset bump to patch (#974)
  .changeset/oauth-pkce.md
Due: prettier

Rename release PR to "Release vX.Y.Z"
  .github/workflows/release.yml
  release/scripts/build-release-pr-body.ts
Due: biome, prettier

Rename release PR to "Release vX.Y.Z" (#975)
  .github/workflows/release.yml
  release/scripts/build-release-pr-body.ts
Due: biome, prettier

Detect change intents from pnpm version -r output
  .github/workflows/release.yml
Due: prettier

Detect change intents from pnpm version -r output (#977)
  .github/workflows/release.yml
Due: prettier

Revert to changesets release management
  .changeset/README.md
  .changeset/config.json
  .github/workflows/release.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  release/scripts/build-release-pr-body.ts
Due: biome, prettier

Revert to changesets release management (#978)
  .changeset/README.md
  .changeset/config.json
  .github/workflows/release.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  release/scripts/build-release-pr-body.ts
Due: biome, prettier

Move e2e/test-results/ ignore to the top-level .gitignore for prettier
  .gitignore
  e2e/.gitignore
Due: none

Move e2e/test-results/ ignore to the top-level .gitignore for prettier (#980)
  .gitignore
  e2e/.gitignore
Due: none

Simplify gitignore for playwright
  .gitignore
Due: none

Simplify gitignore for playwright (#982)
  .gitignore
Due: none

Use `iorate/wepub/setup` instead of `iorate/setup-wepub`
  .github/workflows/publish.yml
Due: prettier

Use `iorate/wepub/setup` instead of `iorate/setup-wepub` (#987)
  .github/workflows/publish.yml
Due: prettier

Migrate from changesets to changesette
  .changeset/README.md
  .changeset/config.json
  .github/workflows/release.yml
  .github/workflows/version.yml
  package.json
  pnpm-lock.yaml
Due: biome, prettier

Generate release notes with changesette changelog
  .github/workflows/publish.yml
  release/scripts/build-release-notes.ts
  release/scripts/release-notes.test.ts
  release/scripts/release-notes.ts
  release/scripts/truncate-release-notes.test.ts
  release/scripts/truncate-release-notes.ts
Due: biome, prettier

Migrate from changesets to changesette (#991)
  .changeset/README.md
  .changeset/config.json
  .github/workflows/publish.yml
  .github/workflows/release.yml
  .github/workflows/version.yml
  package.json
  pnpm-lock.yaml
  release/scripts/build-release-notes.ts
  release/scripts/release-notes.test.ts
  release/scripts/release-notes.ts
  release/scripts/truncate-release-notes.test.ts
  release/scripts/truncate-release-notes.ts
Due: biome, prettier

Focus existing options and SERPINFO options tabs using runtime.getContexts()
  .changeset/changesette-01KZ7SKMM20W6AA9GJGECVFBXM.md
  .changeset/changesette-01KZ7SKN9XA99G5ZPXBSM5ZQ9T.md
  src/scripts/background/index.ts
  src/scripts/background/pages.ts
  src/scripts/options/general-section.tsx
  src/scripts/popup/index.tsx
  src/scripts/popup/serpinfo.tsx
  src/scripts/shared/messages.ts
Due: biome, prettier

Focus existing options and SERPINFO options tabs using runtime.getContexts() (#996)
  .changeset/changesette-01KZ7SKMM20W6AA9GJGECVFBXM.md
  .changeset/changesette-01KZ7SKN9XA99G5ZPXBSM5ZQ9T.md
  src/scripts/background/index.ts
  src/scripts/background/pages.ts
  src/scripts/options/general-section.tsx
  src/scripts/popup/index.tsx
  src/scripts/popup/serpinfo.tsx
  src/scripts/shared/messages.ts
Due: biome, prettier

Migrate from biome and tsc to oxlint
  .github/workflows/ci.yml
  .oxlintrc.json
  .vscode/extensions.json
  .vscode/settings.json
  AGENTS.md
  CONTRIBUTING.md
  biome.json
  e2e/fixtures/extension.ts
  lefthook.yml
  package.json
  pnpm-lock.yaml
  src/manifest.ts
  src/pages/options.html
  src/pages/popup.html
  src/pages/serpinfo-options.html
  src/scripts/background/index.ts
  src/scripts/background/serpinfo.ts
  src/scripts/background/sync-sections.ts
  src/scripts/block-dialog/index.tsx
  src/scripts/components/editor.tsx
  src/scripts/components/link.tsx
  src/scripts/content-script/commands.ts
  src/scripts/content-script/filter.ts
  src/scripts/content-script/index.ts
  src/scripts/import-content-script.js
  src/scripts/options/index.tsx
  src/scripts/options/subscription-section/index.tsx
  src/scripts/options/subscription-section/table-row.tsx
  src/scripts/popup/dialog.tsx
  src/scripts/popup/index.tsx
  src/scripts/serpinfo-options/index.tsx
  src/scripts/shared/browser.ts
  src/scripts/shared/utilities.ts
  src/scripts/sync-backends/cloud-utils.ts
Due: biome, prettier

Stop tracking developer-local files
  .gitignore
  .vscode/extensions.json
  .vscode/settings.json
  CLAUDE.md
Due: biome, prettier

Stop tracking developer-local files (#999)
  .gitignore
  .vscode/extensions.json
  .vscode/settings.json
  CLAUDE.md
Due: biome, prettier

Document agent skills in README.md and AGENTS.md
  AGENTS.md
  README.md
Due: prettier

Document agent skills in README.md and AGENTS.md (#1000)
  AGENTS.md
  README.md
Due: prettier

New Crowdin translations by GitHub Action
  README.de.md
  README.zh-CN.md
Due: prettier

Pin devDependencies
  package.json
  pnpm-lock.yaml
Due: biome, prettier

Pin devDependencies (#1002)
  package.json
  pnpm-lock.yaml
Due: biome, prettier

Update first-party packages
  package.json
  pnpm-lock.yaml
Due: biome, prettier

Update first-party packages (#1003)
  package.json
  pnpm-lock.yaml
Due: biome, prettier
