Repository iorate/ublacklist: changes, and which lefthook commands are due for each by the changed paths.
All: biome, prettier

biome:
  run: pnpm biome check --apply --no-errors-on-unmatched {staged_files}
  stage_fixed: true

prettier:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

feat: add experimental browser sync support
  src/_locales/en/messages.json
  src/common/message-names.generated.ts
  src/scripts/background.ts
  src/scripts/background/clouds.ts
  src/scripts/background/raw-storage.ts
  src/scripts/clouds/browser-sync.ts
  src/scripts/messages.ts
  src/scripts/options/sync-section.tsx
  src/scripts/types.ts
Due: biome

feat: show Activate button in popup when uBlacklist is not enabled on the page
  src/scripts/popup.tsx
  src/scripts/serpinfo/popup.tsx
Due: biome

feat: show setup button in popup when uBlacklist is available
  src/scripts/popup.tsx
  src/scripts/serpinfo/popup.tsx
Due: biome

fix: update UI strings
  src/_locales/en/messages.json
  src/common/message-names.generated.ts
  src/scripts/options/general-section.tsx
  src/scripts/serpinfo/popup.tsx
Due: biome

New Crowdin translations by GitHub Action
  README.de.md
  src/_locales/de/messages.json
  src/_locales/es/messages.json
  src/_locales/fr/messages.json
  src/_locales/ja/messages.json
  src/_locales/ko/messages.json
  src/_locales/pl/messages.json
  src/_locales/pt_BR/messages.json
  src/_locales/ru/messages.json
  src/_locales/tr/messages.json
  src/_locales/uk/messages.json
  src/_locales/zh_CN/messages.json
  src/_locales/zh_TW/messages.json
Due: biome, prettier

chore: update translation files (#705)
  README.de.md
  src/_locales/de/messages.json
  src/_locales/es/messages.json
  src/_locales/fr/messages.json
  src/_locales/ja/messages.json
  src/_locales/ko/messages.json
  src/_locales/pl/messages.json
  src/_locales/pt_BR/messages.json
  src/_locales/ru/messages.json
  src/_locales/tr/messages.json
  src/_locales/uk/messages.json
  src/_locales/zh_CN/messages.json
  src/_locales/zh_TW/messages.json
Due: biome, prettier

fix: make control color reactive to color scheme changes
  src/scripts/serpinfo/content-script.tsx
  src/scripts/serpinfo/is-dark-mode.ts
Due: biome

refactor: rename content-script.tsx to content-script.ts
  scripts/build.ts
  src/scripts/serpinfo/content-script.ts
Due: biome

chore: remove unused translations
  src/_locales/en/messages.json
  src/common/message-names.generated.ts
Due: biome

chore: update translations (#706)
  README.de.md
  src/_locales/de/messages.json
  src/_locales/es/messages.json
  src/_locales/fr/messages.json
  src/_locales/ja/messages.json
  src/_locales/ko/messages.json
  src/_locales/pl/messages.json
  src/_locales/pt_BR/messages.json
  src/_locales/ru/messages.json
  src/_locales/tr/messages.json
  src/_locales/uk/messages.json
  src/_locales/zh_CN/messages.json
  src/_locales/zh_TW/messages.json
Due: biome, prettier

fix: relax size limit of browser sync
  package.json
  pnpm-lock.yaml
  src/_locales/en/messages.json
  src/common/message-names.generated.ts
  src/scripts/background/clouds.ts
  src/scripts/clouds/browser-sync.ts
  src/third-party-notices.txt
Due: biome, prettier

throw on hash collision
  src/scripts/clouds/browser-sync.ts
Due: biome

update message name for exceeded quota
  src/_locales/en/messages.json
  src/common/message-names.generated.ts
  src/scripts/clouds/browser-sync.ts
Due: biome

remove mutex
  src/scripts/clouds/browser-sync.ts
Due: biome

update MAX_CHUNK_COUNT (effectively unreachable)
  src/scripts/clouds/browser-sync.ts
Due: biome

fix: relax size limit of browser sync (#708)
  package.json
  pnpm-lock.yaml
  src/_locales/en/messages.json
  src/common/message-names.generated.ts
  src/scripts/background/clouds.ts
  src/scripts/clouds/browser-sync.ts
  src/third-party-notices.txt
Due: biome, prettier

New Crowdin translations by GitHub Action
  src/_locales/de/messages.json
  src/_locales/es/messages.json
  src/_locales/fr/messages.json
  src/_locales/ja/messages.json
  src/_locales/ko/messages.json
  src/_locales/pl/messages.json
  src/_locales/pt_BR/messages.json
  src/_locales/ru/messages.json
  src/_locales/tr/messages.json
  src/_locales/uk/messages.json
  src/_locales/zh_CN/messages.json
  src/_locales/zh_TW/messages.json
Due: biome

chore: update translations (#709)
  src/_locales/de/messages.json
  src/_locales/es/messages.json
  src/_locales/fr/messages.json
  src/_locales/ja/messages.json
  src/_locales/ko/messages.json
  src/_locales/pl/messages.json
  src/_locales/pt_BR/messages.json
  src/_locales/ru/messages.json
  src/_locales/tr/messages.json
  src/_locales/uk/messages.json
  src/_locales/zh_CN/messages.json
  src/_locales/zh_TW/messages.json
Due: biome

chore(biome): force ignore dist folder
  biome.json
Due: biome

Notes added by 'git notes add'
  abc1ba24635ce3a76f901ef9c1ca0b53a91592ae
Due: none

fix: update Safari icon to use SVG format
  scripts/build.ts
  src/manifest.ts
Due: biome

chore: add AGENTS.md
  AGENTS.md
  CLAUDE.md
Due: prettier

Revert "chore: add AGENTS.md"
  AGENTS.md
  CLAUDE.md
Due: prettier

chore: format AGENTS.md
  AGENTS.md
  CLAUDE.md
Due: prettier

Revert "chore: format AGENTS.md"
  AGENTS.md
  CLAUDE.md
Due: prettier

ci: check format for pull requests
  .github/workflows/check.yml
  .github/workflows/format.yml
Due: prettier

feat: toggle block dialog with shift key
  src/_locales/en/messages.json
  src/common/message-names.generated.ts
  src/scripts/options/general-section.tsx
  src/scripts/serpinfo/commands.ts
  src/scripts/serpinfo/dialog.tsx
  src/scripts/serpinfo/filter.ts
Due: biome

chore: remove newline from symlink
  CLAUDE.md
Due: prettier

chore: update pnpm settings
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: biome, prettier

chore: update dependencies
  package.json
  pnpm-lock.yaml
Due: biome, prettier

fix: fix bug of `discriminatedTupleUnion`
  src/scripts/zod/discriminated-tuple-union.ts
Due: biome

chore(i18): add new message (#727)
  src/_locales/de/messages.json
  src/_locales/es/messages.json
  src/_locales/fr/messages.json
  src/_locales/ja/messages.json
  src/_locales/ko/messages.json
  src/_locales/pl/messages.json
  src/_locales/pt_BR/messages.json
  src/_locales/ru/messages.json
  src/_locales/tr/messages.json
  src/_locales/uk/messages.json
  src/_locales/zh_CN/messages.json
  src/_locales/zh_TW/messages.json
Due: biome

chore: simplify tsconfig
  .github/workflows/check.yml
  .gitignore
  AGENTS.md
  package.json
  scripts/build.ts
  tsconfig.browser.json
  tsconfig.json
  tsconfig.node.json
Due: biome, prettier

chore: migrate to tsgo
  .github/workflows/check.yml
  .vscode/extensions.json
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
Due: biome, prettier

refactor: use subpath imports instead of path aliases
  package.json
  src/scripts/serpinfo/builtins.ts
  tsconfig.json
Due: biome

chore: update actions
  .github/actions/setup/action.yml
  .github/workflows/check.yml
  .github/workflows/crowdin.yml
  .github/workflows/deploy.yml
Due: prettier

Path conditions:
  biome: any of: *.{js,cjs,mjs,ts,cts,mts,jsx,tsx,json,jsonc}
  prettier: any of: *.{css,yml,yaml,md,markdown}
