Repository iorate/ublacklist: changes, and which lefthook commands are due for each by the changed paths.
All: biome, prettier

biome:
  run: pnpm biome check --apply --no-errors-on-unmatched {staged_files}
  stage_fixed: true

prettier:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

Fix scope issue on blocked News cards.
  src/scripts/search-engines/duckduckgo.ts
Due: biome

Fix highlighting of mobile search results on DDG
  src/scripts/search-engines/duckduckgo.ts
Due: biome

fix(google): expand support for blocking news on Google mobile (#486)
  src/scripts/search-engines/google-mobile.ts
Due: biome

fix(google): make links clickable on mobile news search
  src/scripts/search-engines/google-mobile.ts
Due: biome

feat(duckduckgo): add support for blocking news cards (#488)
  src/scripts/search-engines/duckduckgo.ts
Due: biome

fix(duckduckgo): fix highlighting of mobile search results (#489)
  src/scripts/search-engines/duckduckgo.ts
Due: biome

implement new grammar
  biome.json
  package.json
  pnpm-lock.yaml
  src/scripts/components/editor.tsx
  src/scripts/components/theme.tsx
  src/scripts/options/ruleset-editor.tsx
  src/scripts/ruleset/lang.ts
  src/scripts/ruleset/parser.js
  src/scripts/ruleset/ruleset.grammar
  src/scripts/ruleset/utils.ts
  src/third-party-notices.txt
  tsconfig.json
Due: biome, prettier

trivial change of grammar
  src/scripts/ruleset/parser.js
  src/scripts/ruleset/ruleset.grammar
Due: biome

rewrite match pattern
  src/common/match-pattern.test.ts
  src/common/match-pattern.ts
  src/scripts/content-script.tsx
  src/scripts/options/subscription-section.tsx
  src/scripts/popup.tsx
  src/scripts/ruleset.ts
  src/scripts/utilities.ts
Due: biome

update grammar
  src/scripts/ruleset/parser.js
  src/scripts/ruleset/ruleset.grammar
Due: biome

minor refactoring of match pattern
  src/common/match-pattern.ts
Due: biome

rename MatchPatternBatch to MatchPatternSet
  src/scripts/ruleset/ruleset.ts
Due: biome

rename MatchPatternBatch to MatchPatternSet
  src/common/match-pattern.test.ts
  src/common/match-pattern.ts
  src/scripts/content-script.tsx
  src/scripts/options/subscription-section.tsx
  src/scripts/popup.tsx
  src/scripts/ruleset/ruleset.ts
Due: biome

implement ruleset
  package.json
  pnpm-lock.yaml
  scripts/build.ts
  src/common/match-pattern.test.ts
  src/common/match-pattern.ts
  src/manifest.json.ts
  src/pages/options.html
  src/pages/popup.html
  src/pages/watch.html
  src/scripts/background/backup-restore.ts
  src/scripts/background/local-storage.ts
  src/scripts/background/subscriptions.ts
  src/scripts/background/sync.ts
  src/scripts/block-dialog.tsx
  src/scripts/content-script.tsx
  src/scripts/interactive-ruleset.test.ts
  src/scripts/interactive-ruleset.ts
  src/scripts/local-storage.ts
  src/scripts/options/subscription-section.tsx
  src/scripts/popup.tsx
  src/scripts/ruleset.test.ts
  src/scripts/ruleset.ts
  src/scripts/ruleset/ruleset.grammar
  src/scripts/ruleset/ruleset.test.ts
  src/scripts/ruleset/ruleset.ts
  src/scripts/search-engines/helpers.ts
  src/scripts/types.ts
  src/scripts/utilities.ts
  src/scripts/watch.ts
Due: biome, prettier

minor refactoring
  src/common/match-pattern.test.ts
  src/common/match-pattern.ts
  src/common/process-env.d.ts
  src/scripts/background/backup-restore.ts
  src/scripts/interactive-ruleset.test.ts
  src/scripts/interactive-ruleset.ts
  src/scripts/options/subscription-section.tsx
  src/scripts/popup.tsx
  src/scripts/ruleset/parser.js
  src/scripts/ruleset/ruleset.grammar
  src/scripts/ruleset/ruleset.ts
  src/scripts/search-engines/helpers.ts
  src/scripts/types.ts
  src/scripts/utilities.ts
Due: biome

allow dollar sign in identifier
  src/scripts/ruleset/parser.js
  src/scripts/ruleset/ruleset.grammar
Due: biome

add props
  src/scripts/ruleset/ruleset.ts
  src/scripts/search-engines/bing-desktop.ts
  src/scripts/search-engines/bing-mobile.ts
  src/scripts/search-engines/brave.ts
  src/scripts/search-engines/duckduckgo.ts
  src/scripts/search-engines/ecosia.ts
  src/scripts/search-engines/google-desktop.ts
  src/scripts/search-engines/google-mobile.ts
  src/scripts/search-engines/helpers.ts
  src/scripts/search-engines/searx.ts
  src/scripts/search-engines/startpage.ts
  src/scripts/search-engines/yahoo-japan-desktop.ts
  src/scripts/search-engines/yahoo-japan-mobile.ts
  src/scripts/search-engines/yandex.ts
Due: biome

update third party notices
  src/third-party-notices.txt
Due: none

set scheme/host/path in InteractiveRuleset
  src/scripts/interactive-ruleset.ts
  src/scripts/popup.tsx
  src/scripts/search-engines/helpers.ts
Due: biome

$ can be used only at beginning of identifier
  src/scripts/ruleset/parser.js
  src/scripts/ruleset/ruleset.grammar
Due: biome

refactor grammar
  src/scripts/ruleset/lang.ts
  src/scripts/ruleset/parser.js
  src/scripts/ruleset/ruleset.grammar
  src/scripts/ruleset/ruleset.test.ts
Due: biome

fix precedence of !
  src/scripts/ruleset/parser.js
  src/scripts/ruleset/ruleset.grammar
  src/scripts/ruleset/ruleset.test.ts
Due: biome

remove octal escape sequences
  src/scripts/popup.tsx
  src/scripts/ruleset/ruleset.test.ts
  src/scripts/ruleset/utils.ts
Due: biome

rename $engine to $site
  src/scripts/search-engines/bing-desktop.ts
  src/scripts/search-engines/bing-mobile.ts
  src/scripts/search-engines/brave.ts
  src/scripts/search-engines/duckduckgo.ts
  src/scripts/search-engines/ecosia.ts
  src/scripts/search-engines/google-desktop.ts
  src/scripts/search-engines/google-mobile.ts
  src/scripts/search-engines/searx.ts
  src/scripts/search-engines/startpage.ts
  src/scripts/search-engines/yahoo-japan-desktop.ts
  src/scripts/search-engines/yahoo-japan-mobile.ts
  src/scripts/search-engines/yandex.ts
Due: biome

read names from metadata of subscriptions
  src/_locales/en/messages.json.ts
  src/_locales/ja/messages.json.ts
  src/common/locales.ts
  src/scripts/components/dialog.tsx
  src/scripts/components/table.tsx
  src/scripts/options/subscription-section.tsx
Due: biome

add kagi support
  src/scripts/search-engines/kagi.ts
Due: biome

change regexp match operator: "=~" -> "~="
  src/scripts/ruleset/parser.js
  src/scripts/ruleset/ruleset.grammar
  src/scripts/ruleset/ruleset.test.ts
  src/scripts/ruleset/ruleset.ts
Due: biome

fix: add URL parts when creating patch
  src/scripts/interactive-ruleset.ts
Due: biome

change grammar of identifier
  src/scripts/ruleset/parser.js
  src/scripts/ruleset/ruleset.grammar
Due: biome

update grammar
  src/scripts/ruleset/lang.ts
  src/scripts/ruleset/parser.js
  src/scripts/ruleset/ruleset.grammar
  src/scripts/ruleset/ruleset.test.ts
  src/scripts/ruleset/ruleset.ts
Due: biome

add documents for expressions
  website/docs/advanced-features.md
  website/docusaurus.config.ts
  website/i18n/ja/docusaurus-plugin-content-docs/current/advanced-features.md
Due: biome, prettier

add documents for YAML frontmatter
  README.md
  website/docs/advanced-features.md
  website/i18n/ja/docusaurus-plugin-content-docs/current/advanced-features.md
Due: prettier

<all_urls> is supported
  website/docs/advanced-features.md
  website/i18n/ja/docusaurus-plugin-content-docs/current/advanced-features.md
Due: prettier

minor refactoring
  src/common/match-pattern.ts
Due: biome

expression including undefine properties return false
  src/scripts/ruleset/ruleset.test.ts
  src/scripts/ruleset/ruleset.ts
Due: biome

remove description about name in subscription URL
  README.md
Due: prettier

move link to subscriptions page
  website/docs/advanced-features.md
Due: prettier

fix typo
  website/docs/advanced-features.md
Due: prettier

minor refactoring
  src/scripts/ruleset/ruleset.ts
Due: biome

Path conditions:
  biome: any of: *.{js,cjs,mjs,ts,cts,mts,jsx,tsx,json,jsonc}
  prettier: any of: *.{css,yml,yaml,md,markdown}
