Repository iorate/ublacklist: changes, and which lefthook commands are due for each by the changed paths.
All: biome, prettier

biome:
  run: pnpm biome check --apply --no-errors-on-unmatched {staged_files}
  stage_fixed: true

prettier:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

wip: note forward-compat rationale for Subscription.type
  src/scripts/types.ts
Due: biome

feat: support domains-format subscriptions (#773)
  src/_locales/en/messages.json
  src/common/message-names.generated.ts
  src/scripts/background/backup-restore.ts
  src/scripts/background/subscriptions.ts
  src/scripts/background/sync.ts
  src/scripts/components/badge.tsx
  src/scripts/options/backup-restore-section.tsx
  src/scripts/options/options-context.tsx
  src/scripts/options/subscription-section.tsx
  src/scripts/ruleset/domains.test.ts
  src/scripts/ruleset/domains.ts
  src/scripts/types.ts
Due: biome

New Crowdin translations by GitHub Action
  src/_locales/de/messages.json
  src/_locales/es/messages.json
  src/_locales/fr/messages.json
  src/_locales/ja/messages.json
  src/_locales/ko/messages.json
  src/_locales/pl/messages.json
  src/_locales/pt_BR/messages.json
  src/_locales/ru/messages.json
  src/_locales/tr/messages.json
  src/_locales/uk/messages.json
  src/_locales/zh_CN/messages.json
  src/_locales/zh_TW/messages.json
Due: biome

fix: use subscription display name fallback in matching rules headers
  src/scripts/options/subscription-section.tsx
  src/scripts/popup.tsx
  src/scripts/serpinfo/filter.ts
  src/scripts/utilities.ts
Due: biome

fix: rename matching rules header for the user's own ruleset
  src/_locales/en/messages.json
  src/common/message-names.generated.ts
  src/scripts/utilities.ts
Due: biome

fix: recognize private TLDs when suggesting block rules
  src/scripts/block-dialog.tsx
  src/scripts/interactive-ruleset.ts
  src/scripts/registrable-domain.ts
Due: biome

docs: explain null fallback in suggestMatchPattern
  src/scripts/interactive-ruleset.ts
Due: biome

chore: tighten subscription type to "ruleset" | "domains"
  src/scripts/background/sync.ts
  src/scripts/options/backup-restore-section.tsx
  src/scripts/types.ts
Due: biome

Notes added by 'git notes add'
  ab881b22dbc12f2fd76157ea002b3c0ff3919348
Due: none

docs: update README sync/subscription/contribution sections
  README.md
Due: prettier

New Crowdin translations by GitHub Action
  README.de.md
  README.zh-CN.md
Due: prettier

docs: rewrite CONTRIBUTING.md
  CONTRIBUTING.md
Due: prettier

docs: add pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier

docs: add related repositories section to AGENTS.md
  AGENTS.md
Due: prettier

Ignore CLAUDE.local.md
  .gitignore
Due: none

Update ideas template intro for search engine support requests
  .github/DISCUSSION_TEMPLATE/ideas.yml
Due: prettier

docs: add Resources category to new ruleset discussion template
  .github/DISCUSSION_TEMPLATE/website-new-ruleset.yml
Due: prettier

docs: add Resources category to new ruleset discussion template (#795)
  .github/DISCUSSION_TEMPLATE/website-new-ruleset.yml
Due: prettier

chore: update dependencies
  .github/workflows/check.yml
  .github/workflows/deploy.yml
  package.json
  pnpm-lock.yaml
Due: biome, prettier

chore: update dependencies (#797)
  .github/workflows/check.yml
  .github/workflows/deploy.yml
  package.json
  pnpm-lock.yaml
Due: biome, prettier

chore: unpin zod-validation-error version
  package.json
  pnpm-lock.yaml
Due: biome, prettier

chore: unpin zod-validation-error version (#798)
  package.json
  pnpm-lock.yaml
Due: biome, prettier

ci: replace semantic-release with wepub + git-cliff
  .github/workflows/deploy.yml
  .github/workflows/release.yml
  approval-notes.template.txt
  cliff.toml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  release.config.ts
  src/third-party-notices.txt
Due: biome, prettier

ci: replace semantic-release with wepub + git-cliff (#799)
  .github/workflows/deploy.yml
  .github/workflows/release.yml
  approval-notes.template.txt
  cliff.toml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  release.config.ts
  src/third-party-notices.txt
Due: biome, prettier

New Crowdin translations by GitHub Action
  README.de.md
Due: prettier

New Crowdin translations by GitHub Action
  src/_locales/de/messages.json
Due: biome

New Crowdin translations by GitHub Action
  src/_locales/ja/messages.json
Due: biome

ci: hide i18n scope in release notes
  cliff.toml
Due: none

ci: hide i18n scope in release notes (#804)
  cliff.toml
Due: none

ci: set release title explicitly to tag name
  .github/workflows/release.yml
Due: prettier

ci: set release title explicitly to tag name (#805)
  .github/workflows/release.yml
Due: prettier

ci: skip unmatched commits silently in changelog config
  cliff.toml
Due: none

ci: link version headings to compare view in release notes
  cliff.toml
Due: none

add code of conduct
  CODE_OF_CONDUCT.md
Due: prettier

Path conditions:
  biome: any of: *.{js,cjs,mjs,ts,cts,mts,jsx,tsx,json,jsonc}
  prettier: any of: *.{css,yml,yaml,md,markdown}
