Repository iorate/ublacklist: changes, and which lefthook commands are due for each by the changed paths.
All: biome, prettier

biome:
  run: pnpm biome check --apply --no-errors-on-unmatched {staged_files}
  stage_fixed: true

prettier:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

chore: include all items in messages.json
  crowdin.yml
Due: prettier

New Crowdin translations by GitHub Action
  src/_locales/de/messages.json
  src/_locales/es/messages.json
  src/_locales/fr/messages.json
  src/_locales/ja/messages.json
  src/_locales/ko/messages.json
  src/_locales/pl/messages.json
  src/_locales/pt_BR/messages.json
  src/_locales/ru/messages.json
  src/_locales/tr/messages.json
  src/_locales/uk/messages.json
  src/_locales/zh_CN/messages.json
  src/_locales/zh_TW/messages.json
Due: biome

chore: include all items in messages.json (#668)
  src/_locales/de/messages.json
  src/_locales/es/messages.json
  src/_locales/fr/messages.json
  src/_locales/ja/messages.json
  src/_locales/ko/messages.json
  src/_locales/pl/messages.json
  src/_locales/pt_BR/messages.json
  src/_locales/ru/messages.json
  src/_locales/tr/messages.json
  src/_locales/uk/messages.json
  src/_locales/zh_CN/messages.json
  src/_locales/zh_TW/messages.json
Due: biome

chore: update semantic-release-amo
  package.json
  pnpm-lock.yaml
Due: biome, prettier

Notes added by 'git notes add'
  d2f0eee79094ed6d4ba5035c852f1614afb4cc77
Due: none

chore: move store assets to https://github.com/ublacklist/store-assets
  .gitignore
  CONTRIBUTING.md
  crowdin.yml
  web-store-assets/chrome-promotion-tile-small.png
  web-store-assets/de/description.txt
  web-store-assets/en/chrome-screenshot-1.png
  web-store-assets/en/chrome-screenshot-2.png
  web-store-assets/en/chrome-screenshot-3.png
  web-store-assets/en/chrome-screenshot-4.png
  web-store-assets/en/description.txt
  web-store-assets/es/description.txt
  web-store-assets/firefox-screenshot-1.png
  web-store-assets/firefox-screenshot-2.png
  web-store-assets/firefox-screenshot-3.png
  web-store-assets/fr/description.txt
  web-store-assets/ja/chrome-screenshot-1.png
  web-store-assets/ja/chrome-screenshot-2.png
  web-store-assets/ja/chrome-screenshot-3.png
  web-store-assets/ja/chrome-screenshot-4.png
  web-store-assets/ja/description.txt
  web-store-assets/ko/description.txt
  web-store-assets/pt-BR/description.txt
  web-store-assets/ru/description.txt
  web-store-assets/uk/description.txt
  web-store-assets/zh-CN/description.txt
  web-store-assets/zh-TW/description.txt
Due: prettier

build: remove hot reload for chrome
  scripts/build.ts
  src/pages/watch.html
  src/scripts/background.ts
  src/scripts/background/watch.ts
  src/scripts/watch.ts
Due: biome

chore: add .env to .gitignore
  .env
  .gitignore
  scripts/build.ts
Due: biome

build: remove watch mode
  CONTRIBUTING.md
  package.json
  pnpm-lock.yaml
  scripts/build.ts
  src/common/globals.ts
  src/manifest.json.ts
Due: biome, prettier

rename manifest.json.ts to manifest.ts
  scripts/build.ts
  src/manifest.json.ts
  src/manifest.ts
  tsconfig.node.json
Due: biome

build: remove watch mode (#672)
  CONTRIBUTING.md
  package.json
  pnpm-lock.yaml
  scripts/build.ts
  src/common/globals.ts
  src/manifest.json.ts
  src/manifest.ts
  tsconfig.node.json
Due: biome, prettier

feat: add "icon" and "text" button commands
  package.json
  pnpm-lock.yaml
  src/scripts/constants.ts
  src/scripts/options/subscription-section.tsx
  src/scripts/serpinfo/background.ts
  src/scripts/serpinfo/button.ts
  src/scripts/serpinfo/commands.ts
  src/scripts/serpinfo/constants.ts
  src/scripts/serpinfo/content-script.tsx
  src/scripts/serpinfo/control.ts
  src/scripts/serpinfo/css-stringify.ts
  src/scripts/serpinfo/enable-subscription-url.tsx
  src/scripts/serpinfo/filter.ts
  src/scripts/serpinfo/global-styles.ts
  src/scripts/serpinfo/options.tsx
  src/scripts/serpinfo/schemas.ts
  src/scripts/serpinfo/style.ts
  src/scripts/serpinfo/types.ts
  src/third-party-notices.txt
Due: biome, prettier

chore: remove watch-worker.ts
  src/scripts/watch-worker.ts
Due: biome

chore: update dependencies
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: biome, prettier

Update messages.json
  src/_locales/de/messages.json
Due: biome

feat: add experimental WebDAV sync support
  package.json
  pnpm-lock.yaml
  src/_locales/en/messages.json
  src/common/message-names.generated.ts
  src/scripts/background/clouds.ts
  src/scripts/background/raw-storage.ts
  src/scripts/clouds/dropbox.ts
  src/scripts/clouds/google-drive.ts
  src/scripts/clouds/webdav.ts
  src/scripts/options/sync-section.tsx
  src/scripts/supported-clouds.ts
  src/scripts/types.ts
Due: biome, prettier

fix: force hide blocked results with increased CSS specificity
  src/scripts/serpinfo/content-script.tsx
Due: biome

fix: lint errors in webdav
  src/scripts/background/clouds.ts
  src/scripts/clouds/webdav.ts
Due: biome

docs: accept German version of README
  .gitignore
Due: none

New Crowdin translations by GitHub Action
  README.de.md
  src/_locales/de/messages.json
  src/_locales/pt_BR/messages.json
  src/_locales/zh_CN/messages.json
Due: biome, prettier

fix: update translations (#686)
  README.de.md
  src/_locales/de/messages.json
  src/_locales/pt_BR/messages.json
  src/_locales/zh_CN/messages.json
Due: biome, prettier

docs: update language selector of README
  README.md
Due: prettier

New Crowdin translations by GitHub Action
  README.de.md
  README.zh-CN.md
Due: prettier

docs: update language selector of README (#687)
  README.de.md
  README.zh-CN.md
Due: prettier

feat: enable subscription links on Safari
  src/manifest.ts
  src/scripts/options/subscription-section.tsx
  src/scripts/serpinfo/background.ts
  src/scripts/serpinfo/options.tsx
Due: biome

Notes added by 'git notes add'
  d180159cb28f4e5caefb6510fa215ad25db77c71
Due: none

update pod
  safari-project/Podfile.lock
  safari-project/uBlacklist for Safari.xcodeproj/project.pbxproj
Due: none

chore: update packages with `minimumReleaseAge` set
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: biome, prettier

chore: update pnpm and enable `minimumReleaseAge` set to `1440`
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: biome, prettier

chore: format html by biome
  .github/workflows/check.yml
  .github/workflows/format.yml
  .vscode/settings.json
  lefthook.yml
  package.json
Due: biome, prettier

chore: enable project rules of biome
  biome.json
  src/scripts/import-content-script.js
Due: biome

refactor: improve WebDAV integration architecture
  src/scripts/background.ts
  src/scripts/background/clouds.ts
  src/scripts/background/raw-storage.ts
  src/scripts/clouds/dropbox.ts
  src/scripts/clouds/google-drive.ts
  src/scripts/clouds/webdav.ts
  src/scripts/globals.ts
  src/scripts/messages.ts
  src/scripts/options/sync-section.tsx
  src/scripts/supported-clouds.ts
  src/scripts/types.ts
  tsconfig.browser.json
Due: biome

fix(webdav): ignore error checking for dest dir existence
  src/scripts/clouds/webdav.ts
Due: biome

chore: update translation files (#702)
  src/_locales/de/messages.json
  src/_locales/es/messages.json
  src/_locales/fr/messages.json
  src/_locales/ja/messages.json
  src/_locales/ko/messages.json
  src/_locales/pl/messages.json
  src/_locales/pt_BR/messages.json
  src/_locales/ru/messages.json
  src/_locales/tr/messages.json
  src/_locales/uk/messages.json
  src/_locales/zh_CN/messages.json
  src/_locales/zh_TW/messages.json
Due: biome

style: force block statements
  biome.json
  src/scripts/clouds/webdav.ts
  src/scripts/utilities.ts
Due: biome

chore: update third party notices
  src/third-party-notices.txt
Due: none

Path conditions:
  biome: any of: *.{js,cjs,mjs,ts,cts,mts,jsx,tsx,json,jsonc}
  prettier: any of: *.{css,yml,yaml,md,markdown}
