Repository iorate/ublacklist: changes, and which lefthook commands are due for each by the changed paths.
All: biome, prettier

biome:
  run: pnpm biome check --apply --no-errors-on-unmatched {staged_files}
  stage_fixed: true

prettier:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

Add changeset
  .changeset/gentle-hoops-travel.md
Due: prettier

Use the bot token for all writes in the release pipeline
  .github/workflows/publish.yml
  .github/workflows/release.yml
Due: prettier

Use the bot token for all writes in the release pipeline (#924)
  .github/workflows/publish.yml
  .github/workflows/release.yml
Due: prettier

Remove minimumReleaseAge override, now in shared config
  renovate.json
Due: biome

Remove minimumReleaseAge override, now in shared config (#927)
  renovate.json
Due: biome

Increase the base font size to 14px
  .changeset/brave-inputs-grow.md
  src/scripts/block-dialog/baseline.css
  src/scripts/components/color-picker.module.css
  src/scripts/components/editor.tsx
  src/scripts/components/number-field.module.css
  src/scripts/options/general-section.tsx
  src/scripts/options/subscription-section/show-dialog.tsx
  src/scripts/serpinfo-options/index.tsx
  src/scripts/styles/baseline.css
  src/scripts/styles/input.module.css
  src/scripts/styles/textarea.module.css
  src/scripts/styles/theme.css
Due: biome, prettier

Increase the base font size to 14px (#929)
  .changeset/brave-inputs-grow.md
  src/scripts/block-dialog/baseline.css
  src/scripts/components/color-picker.module.css
  src/scripts/components/editor.tsx
  src/scripts/components/number-field.module.css
  src/scripts/options/general-section.tsx
  src/scripts/options/subscription-section/show-dialog.tsx
  src/scripts/serpinfo-options/index.tsx
  src/scripts/styles/baseline.css
  src/scripts/styles/input.module.css
  src/scripts/styles/textarea.module.css
  src/scripts/styles/theme.css
Due: biome, prettier

Set git identity so changeset publish can create tags
  .github/workflows/release.yml
Due: prettier

Set git identity so changeset publish can create tags (#930)
  .github/workflows/release.yml
Due: prettier

Add vertical gap to wrapped multiline rows
  src/scripts/styles/row.module.css
Due: prettier

Add vertical gap to wrapped multiline rows (#931)
  src/scripts/styles/row.module.css
Due: prettier

Update disabled builtin SERPINFO from newer builtin content
  .changeset/shy-builtins-refresh.md
  src/scripts/shared/serpinfo-settings.test.ts
  src/scripts/shared/serpinfo-settings.ts
Due: biome, prettier

Update disabled builtin SERPINFO from newer builtin content (#932)
  .changeset/shy-builtins-refresh.md
  src/scripts/shared/serpinfo-settings.test.ts
  src/scripts/shared/serpinfo-settings.ts
Due: biome, prettier

Use node:assert/strict in all tests
  src/scripts/background/domains.test.ts
  src/scripts/background/sync-sections.test.ts
  src/scripts/shared/serpinfo-settings.test.ts
  src/scripts/sync-backends/cloud.test.ts
Due: biome

Use node:assert/strict in all tests (#933)
  src/scripts/background/domains.test.ts
  src/scripts/background/sync-sections.test.ts
  src/scripts/shared/serpinfo-settings.test.ts
  src/scripts/sync-backends/cloud.test.ts
Due: biome

Assert console.error is called once for an invalid extra selector
  src/scripts/content-script/style-builders.test.ts
Due: biome

Assert console.error is called once for an invalid extra selector (#934)
  src/scripts/content-script/style-builders.test.ts
Due: biome

Remove unused root div from HTML pages
  src/pages/options.html
  src/pages/popup.html
  src/pages/serpinfo-options.html
Due: none

Remove unused root div from HTML pages (#936)
  src/pages/options.html
  src/pages/popup.html
  src/pages/serpinfo-options.html
Due: none

Fix initial focus in the Safari popup
  .changeset/warm-buttons-focus.md
  src/scripts/components/embedded-dialog.tsx
Due: biome, prettier

Fix initial focus in the Safari popup (#937)
  .changeset/warm-buttons-focus.md
  src/scripts/components/embedded-dialog.tsx
Due: biome, prettier

Remove query parameters from the address bar after reading them
  .changeset/clean-query-params.md
  src/scripts/options/index.tsx
  src/scripts/serpinfo-options/index.tsx
Due: biome, prettier

Remove query parameters from the address bar after reading them (#938)
  .changeset/clean-query-params.md
  src/scripts/options/index.tsx
  src/scripts/serpinfo-options/index.tsx
Due: biome, prettier

Offer to reload the blacklist when it is saved on another options page
  .changeset/plural-options-notify.md
  src/scripts/options/appearance-section.tsx
  src/scripts/options/general-section.tsx
  src/scripts/options/shared/save-source.ts
  src/scripts/options/shared/set-boolean-item.tsx
  src/scripts/options/shared/set-interval-item.tsx
  src/scripts/shared/types.ts
Due: biome, prettier

Offer to reload the blacklist when it is saved on another options page (#939)
  .changeset/plural-options-notify.md
  src/scripts/options/appearance-section.tsx
  src/scripts/options/general-section.tsx
  src/scripts/options/shared/save-source.ts
  src/scripts/options/shared/set-boolean-item.tsx
  src/scripts/options/shared/set-interval-item.tsx
  src/scripts/shared/types.ts
Due: biome, prettier

Update the SVG icon only when it changes
  src/scripts/components/svg-icon.tsx
Due: biome

Update the SVG icon only when it changes (#940)
  src/scripts/components/svg-icon.tsx
Due: biome

Replace js-app preset with atomic pin preset
  renovate.json
Due: biome

Remove goober pin
  renovate.json
Due: biome

Replace js-app preset with atomic pin preset (#941)
  renovate.json
Due: biome

Truncate release notes for AMO and restructure the publish artifact
  .github/workflows/publish.yml
  scripts/build-release-notes.test.ts
  scripts/build-release-notes.ts
  scripts/extract-release-notes.ts
Due: biome, prettier

Use the exact release URL in the Edge notes for certification
  .github/workflows/publish.yml
  release/edge/notes-for-certification.template.txt
  scripts/build-release-notes.test.ts
  scripts/build-release-notes.ts
Due: biome, prettier

Create the release directories upfront in the build job
  .github/workflows/publish.yml
Due: prettier

Disable the pnpm cache in the publish workflow
  .github/workflows/publish.yml
Due: prettier

Truncate release notes for AMO and rework the publish workflow (#942)
  .github/workflows/publish.yml
  release/edge/notes-for-certification.template.txt
  scripts/build-release-notes.test.ts
  scripts/build-release-notes.ts
  scripts/extract-release-notes.ts
Due: biome, prettier

Remove `contents: read` from release.yml
  .github/workflows/release.yml
Due: prettier

Remove `contents: read` from release.yml (#943)
  .github/workflows/release.yml
Due: prettier

Remove actions/checkout from renovate.yml
  .github/workflows/renovate.yml
Due: prettier

Path conditions:
  biome: any of: *.{js,cjs,mjs,ts,cts,mts,jsx,tsx,json,jsonc}
  prettier: any of: *.{css,yml,yaml,md,markdown}
