Repository iorate/ublacklist: changes, and which lefthook commands are due for each by the changed paths.
All: biome, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    biome:
      glob: "*.{js,cjs,mjs,ts,cts,mts,jsx,tsx,json,jsonc}"
      run: pnpm biome check --apply --no-errors-on-unmatched {staged_files}
      stage_fixed: true
    prettier:
      glob: "*.{css,yml,yaml,md,markdown}"
      run: pnpm prettier --write {staged_files}
      stage_fixed: true

fix: open watch page only once
  src/scripts/background.ts
Due: biome

chore: update build.ts
  scripts/build.ts
Due: biome

chore: update biome.json
  biome.json
Due: biome

chore: upgrade packages
  package.json
  pnpm-lock.yaml
Due: biome, prettier

ci: upload build artifacts
  .github/workflows/check.yml
Due: prettier

chore: set `background.persistent` to `true` for Firefox
  src/manifest.json.ts
Due: biome

fix(startpage): update SERP handler
  src/common/search-engines.ts
  src/scripts/search-engines/startpage.ts
Due: biome

fix(startpage): update SERP handler (#449)
  src/common/search-engines.ts
  src/scripts/search-engines/startpage.ts
Due: biome

Now YT videos are blocked on Google's bubble layout.
  src/scripts/search-engines/google-desktop.ts
Due: biome

ci: run check on push
  .github/workflows/check.yml
Due: prettier

Notes added by 'git notes add'
  b3d2823ea5cf08ff504798fd1cb1824e6f7d51b7
Due: none

[StepSecurity] Apply security best practices
  .github/dependabot.yml
  .github/workflows/check.yml
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/deploy.yml
  .github/workflows/scorecards.yml
  .github/workflows/website-deploy.yml
  .pre-commit-config.yaml
Due: prettier

Added full support for middle card on Google layout.
  src/scripts/search-engines/google-desktop.ts
Due: biome

update readme
  pnpm-lock.yaml
  safari-project/README.md
Due: prettier

misc
  safari-project/Podfile.lock
  safari-project/uBlacklist for Safari.xcodeproj/project.pbxproj
Due: none

project ref update
  pnpm-lock.yaml
  safari-project/scripts/change_version.rb
  safari-project/uBlacklist for Safari.xcodeproj/project.pbxproj
Due: prettier

Refactor code in order to better fit the codebase
  src/scripts/search-engines/google-desktop.ts
Due: biome

Code formatted with pnpm fix
  src/scripts/search-engines/google-desktop.ts
Due: biome

Update subscriptions.md
  website/src/pages/subscriptions.md
Due: prettier

Added support for title parameter in mid-size card (Google Desktop)
  src/scripts/search-engines/google-desktop.ts
Due: biome

Fixed Discussions and Forums on Google Desktop
  src/scripts/search-engines/google-desktop.ts
Due: biome

fix(google): fix discussions and forums on Google desktop (#458)
  src/scripts/search-engines/google-desktop.ts
Due: biome

docs(website): update subscriptions.md (#452)
  website/src/pages/subscriptions.md
Due: prettier

Entry handler now supports rectangle card on Goggle layout
  src/scripts/search-engines/google-desktop.ts
Due: biome

Remove reliance on :has() selector for compatibility reasons
  src/scripts/search-engines/google-desktop.ts
Due: biome

Added support for extra variations of Goggle card layout
  src/scripts/search-engines/google-desktop.ts
Due: biome

Replace & selector with :scope for compatibility reasons
  src/scripts/search-engines/google-desktop.ts
Due: biome

Small fix for Instagram posts with no date span
  src/scripts/search-engines/google-desktop.ts
Due: biome

Add support for smaller cards on Google layout
  src/scripts/search-engines/google-desktop.ts
Due: biome

Block "Images" on Google "All" page (Desktop)
  src/scripts/search-engines/google-desktop.ts
Due: biome

Fix text overflow on smaller cards
  src/scripts/search-engines/google-desktop.ts
Due: biome

feat(google): initial support for blocking cards on Google Desktop (#454)
  src/scripts/search-engines/google-desktop.ts
Due: biome

yandex: update URLs
  README.md
  README.zh-CN.md
  src/common/search-engines.ts
  src/scripts/search-engines/yandex.ts
Due: biome, prettier

yandex: update link colors to match dark mode
  src/scripts/search-engines/yandex.ts
Due: biome

fix(yandex): update URLs (#466)
  README.md
  README.zh-CN.md
  src/common/search-engines.ts
  src/scripts/search-engines/yandex.ts
Due: biome, prettier

Improved detection of Images on first result page
  src/scripts/search-engines/google-desktop.ts
Due: biome

Support for dynamic loaded "Images" on Google "All" page (infinite scrolling)
  src/scripts/search-engines/google-desktop.ts
Due: biome

Tweak smaller cards target
  src/scripts/search-engines/google-desktop.ts
Due: biome
