Repository iorate/ublacklist: changes, and which lefthook commands are due for each by the changed paths.
All: biome, prettier

biome:
  run: pnpm biome check --apply --no-errors-on-unmatched {staged_files}
  stage_fixed: true

prettier:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

ci: update actions
  .github/actions/setup-pnpm/action.yml
  .github/workflows/check.yml
  .github/workflows/deploy.yml
  package.json
Due: biome, prettier

chore: reword comment
  .gitignore
Due: none

chore: update npm scripts
  package.json
Due: biome

chore: update packages
  package.json
  pnpm-lock.yaml
Due: biome, prettier

chore: set package version
  package.json
Due: biome

chore: disable subscription links in Safari again
  src/manifest.json.ts
  src/scripts/options/subscription-section.tsx
  src/scripts/serpinfo/background.ts
  src/scripts/serpinfo/options.tsx
Due: biome

chore: update screenshots
  web-store-assets/de/chrome-screenshot-1.png
  web-store-assets/de/chrome-screenshot-2.png
  web-store-assets/de/chrome-screenshot-3.png
  web-store-assets/de/chrome-screenshot-4.png
  web-store-assets/en/chrome-screenshot-1.png
  web-store-assets/en/chrome-screenshot-2.png
  web-store-assets/en/chrome-screenshot-3.png
  web-store-assets/en/chrome-screenshot-4.png
  web-store-assets/es/chrome-screenshot-1.png
  web-store-assets/es/chrome-screenshot-2.png
  web-store-assets/es/chrome-screenshot-3.png
  web-store-assets/es/chrome-screenshot-4.png
  web-store-assets/firefox-screenshot-1.png
  web-store-assets/firefox-screenshot-2.png
  web-store-assets/firefox-screenshot-3.png
  web-store-assets/ja/chrome-screenshot-1.png
  web-store-assets/ja/chrome-screenshot-2.png
  web-store-assets/ja/chrome-screenshot-3.png
  web-store-assets/ja/chrome-screenshot-4.png
  web-store-assets/ko/chrome-screenshot-1.png
  web-store-assets/ko/chrome-screenshot-2.png
  web-store-assets/ko/chrome-screenshot-3.png
  web-store-assets/ko/chrome-screenshot-4.png
  web-store-assets/pt-br/chrome-screenshot-1.png
  web-store-assets/pt-br/chrome-screenshot-2.png
  web-store-assets/pt-br/chrome-screenshot-3.png
  web-store-assets/pt-br/chrome-screenshot-4.png
  web-store-assets/ru/chrome-screenshot-1.png
  web-store-assets/ru/chrome-screenshot-2.png
  web-store-assets/ru/chrome-screenshot-3.png
  web-store-assets/ru/chrome-screenshot-4.png
  web-store-assets/zh-cn/chrome-screenshot-1.png
  web-store-assets/zh-cn/chrome-screenshot-2.png
  web-store-assets/zh-cn/chrome-screenshot-3.png
  web-store-assets/zh-cn/chrome-screenshot-4.png
Due: none

chore: inject `import-content-script.js` in Safari
  src/scripts/background/search-engines.ts
Due: biome

fix: show message when remote SERPINFO update is done
  src/_locales/en/messages.json.ts
  src/_locales/ja/messages.json.ts
  src/common/locales.ts
  src/scripts/serpinfo/options.tsx
Due: biome

chore: remove unused translations
  src/_locales/de/messages.json.ts
  src/_locales/en/messages.json.ts
  src/_locales/es/messages.json.ts
  src/_locales/fr/messages.json.ts
  src/_locales/ja/messages.json.ts
  src/_locales/ko/messages.json.ts
  src/_locales/pl/messages.json.ts
  src/_locales/pt_BR/messages.json.ts
  src/_locales/ru/messages.json.ts
  src/_locales/uk/messages.json.ts
  src/_locales/zh_CN/messages.json.ts
  src/_locales/zh_TW/messages.json.ts
  src/common/locales.ts
Due: biome

chore(readme): replace SearX with SearXNG
  README.md
  README.zh-CN.md
Due: prettier

fix(ruleset): disallow prototype access by expressions
  src/scripts/ruleset/ruleset.ts
Due: biome

refactor: organize imports
  src/scripts/serpinfo/options.tsx
Due: biome

chore: replace the "Open SERPINFO options" button with an icon button
  src/scripts/options/general-section.tsx
Due: biome

docs(readme): fix paths of message files
  README.md
Due: prettier

chore: refactor configuration of biome and prettier
  .github/workflows/check.yml
  .prettierignore
  .vscode/settings.json
  lefthook.yml
  package.json
Due: biome, prettier

chore: remove 'hide control' option
  src/scripts/options/general-section.tsx
Due: biome

chore: update translations for the 'Hide the block buttons' option
  src/_locales/de/messages.json.ts
  src/_locales/en/messages.json.ts
  src/_locales/es/messages.json.ts
  src/_locales/fr/messages.json.ts
  src/_locales/ja/messages.json.ts
  src/_locales/ko/messages.json.ts
  src/_locales/pl/messages.json.ts
  src/_locales/pt_BR/messages.json.ts
  src/_locales/ru/messages.json.ts
  src/_locales/uk/messages.json.ts
  src/_locales/zh_CN/messages.json.ts
  src/_locales/zh_TW/messages.json.ts
  src/common/locales.ts
  src/scripts/options/general-section.tsx
Due: biome

chore: update URL of SERPINFO documentation
  src/scripts/serpinfo/options.tsx
Due: biome

chore: fix 3p-notices generation script not to include self
  scripts/generate-third-party-notices.ts
Due: biome

chore(serpinfo): update bugs schema
  src/scripts/serpinfo/types.ts
Due: biome

Notes added by 'git notes add'
  ebe9933607478c6a480fc00f0ac71ab66a491662
Due: none

fix(safari): adjust content script registration
  src/manifest.json.ts
  src/scripts/background/search-engines.ts
Due: biome

chore: sort package.json
  package.json
Due: biome

build: update pnpm and node.js
  package.json
  pnpm-workspace.yaml
Due: biome, prettier

chore: replace tsx with node
  package.json
  pnpm-lock.yaml
Due: biome, prettier

chore: upgrade biome to v2
  biome.json
  package.json
  pnpm-lock.yaml
Due: biome, prettier

refactor(biome): organize imports by biome v2
  src/scripts/background/local-storage.ts
  src/scripts/background/subscriptions.ts
  src/scripts/background/sync.ts
  src/scripts/block-dialog.tsx
  src/scripts/components/checkbox.tsx
  src/scripts/components/icon-button.tsx
  src/scripts/components/radio-button.tsx
  src/scripts/components/switch.tsx
  src/scripts/ruleset/lang.ts
  src/scripts/serpinfo/background.ts
  src/scripts/serpinfo/dialog.tsx
  src/scripts/serpinfo/editor.tsx
  src/scripts/serpinfo/popup.tsx
  src/scripts/serpinfo/storage-store.ts
Due: biome

refactor(biome): fix lint/complexity/noUselessStringRaw
  src/common/match-pattern.ts
Due: biome

refactor(biome): ignore lint/suspicious/noTemplateCurlyInString
  release.config.ts
Due: biome

refactor(biome): remove unused suppression comment
  src/scripts/components/color-picker.tsx
Due: biome

refactor(biome): fix lint/correctness/noUnusedVariables using es-toolkit/omit
  src/scripts/background/sync.ts
Due: biome

refactor(biome): fix lint/a11y/noStaticElementInteractions
  src/scripts/components/dialog.tsx
Due: biome

refactor(biome): fix lint/correctness/noUnusedVariables by underscore prefix
  src/scripts/background/subscriptions.ts
Due: biome

refactor(biome): fix lint/nursery/useUniqueElementIds
  src/scripts/block-dialog.tsx
  src/scripts/options/about-section.tsx
  src/scripts/options/appearance-section.tsx
  src/scripts/options/backup-restore-section.tsx
  src/scripts/options/general-section.tsx
  src/scripts/options/subscription-section.tsx
  src/scripts/options/sync-section.tsx
  src/scripts/serpinfo/options.tsx
  src/scripts/serpinfo/popup.tsx
Due: biome

refactor(typescript): update configurations
  .gitignore
  biome.json
  package.json
  patches/goober.patch
  patches/zod.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/build.ts
  src/common/globals.ts
  src/scripts/globals.ts
  src/scripts/goober.d.ts
  src/scripts/path-depth.test.ts
  src/scripts/ruleset/lang.ts
  src/scripts/ruleset/parser.ts
  src/scripts/ruleset/ruleset.ts
  src/scripts/serpinfo/_builtins.ts
  src/scripts/serpinfo/discriminated-tuple-union.ts
  src/scripts/svg.d.ts
  tsconfig.browser.json
  tsconfig.json
  tsconfig.node.json
Due: biome, prettier

refactor(typescript): enable noUncheckedIndexedAccess
  src/common/match-pattern.ts
  src/scripts/background/subscriptions.ts
  src/scripts/clouds/google-drive.ts
  src/scripts/clouds/helpers.ts
  src/scripts/components/menu.tsx
  src/scripts/options/appearance-section.tsx
  src/scripts/path-depth.ts
  src/scripts/popup.tsx
  src/scripts/ruleset/ruleset.ts
  src/scripts/serpinfo/content-script.tsx
  src/scripts/utilities.ts
  tsconfig.browser.json
  tsconfig.node.json
Due: biome

chore: update goober
  package.json
  patches/goober.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: biome, prettier

Path conditions:
  biome: any of: *.{js,cjs,mjs,ts,cts,mts,jsx,tsx,json,jsonc}
  prettier: any of: *.{css,yml,yaml,md,markdown}
