Repository iorate/ublacklist: changes, and which lefthook commands are due for each by the changed paths.
All: biome, prettier

biome:
  run: pnpm biome check --apply --no-errors-on-unmatched {staged_files}
  stage_fixed: true

prettier:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

feat: add i18n support for the matching rules section
  src/_locales/en/messages.json.ts
  src/common/locales.ts
  src/scripts/block-dialog.tsx
  src/scripts/interactive-ruleset.ts
  src/scripts/utilities.ts
Due: biome

feat(locales): update pt-BR localization for the matching rules section
  src/_locales/pt_BR/messages.json.ts
Due: biome

fix: Remove i18n reminder (comment)
  src/scripts/interactive-ruleset.ts
Due: biome

fix(google): fix "related images" not being blocked on udm=2 desktop
  src/scripts/search-engines/google-desktop.ts
Due: biome

fix(google): add alignment improvements for udm=2 buttons on desktop
  src/scripts/search-engines/google-desktop.ts
Due: biome

docs(website): add Axel Springer SE blacklist to Subscriptions (#516)
  website/src/pages/subscriptions.md
Due: prettier

Create Media Section; Add Rightwing Media blacklist
  website/src/pages/subscriptions.md
Due: prettier

Fix class name for results containing site links
  src/scripts/search-engines/google-mobile.ts
Due: biome

fix
  src/scripts/search-engines/google-mobile.ts
Due: biome

Add Fake-News Media and Conspiracy Media blacklists
  website/src/pages/subscriptions.md
Due: prettier

Add disclaimer to Subscriptions page
  website/src/pages/subscriptions.md
Due: prettier

fix: allow escape sequence in regexp class
  src/scripts/ruleset/parser.js
  src/scripts/ruleset/ruleset.grammar
  src/scripts/ruleset/ruleset.test.ts
Due: biome

docs(website): add Rightwing Media, Conspiracy Media, Fake-News Media blacklists (#524)
  website/src/pages/subscriptions.md
Due: prettier

chore(website): fix header id in subscriptions page
  website/src/pages/subscriptions.md
Due: prettier

chore(website): use admonition syntax for disclaimer
  website/src/pages/subscriptions.md
Due: prettier

add leftwing media blacklist
  website/src/pages/subscriptions.md
Due: prettier

Update subscriptions.md
  website/src/pages/subscriptions.md
Due: prettier

Detect .onion versions of Brave Search, DuckDuckGo and Startpage URLs.
  src/common/search-engines.ts
Due: biome

docs(website): update subscriptions.md (#518)
  website/src/pages/subscriptions.md
Due: prettier

fix markdown error and incorrect link on subscriptions page
  website/src/pages/subscriptions.md
Due: prettier

docs(website): fix markdown error and incorrect link on subscriptions page (#536)
  website/src/pages/subscriptions.md
Due: prettier

docs(website): add leftwing media blacklist (#531)
  website/src/pages/subscriptions.md
Due: prettier

build: manage pnpm and node with pnpm
  .github/actions/setup-pnpm/action.yml
  .github/workflows/check.yml
  .github/workflows/deploy.yml
  .github/workflows/website-deploy.yml
  .npmrc
  README.md
  README.zh-CN.md
  package.json
  release.config.ts
Due: biome, prettier

chore: update biome
  biome.json
  package.json
  pnpm-lock.yaml
  src/scripts/block-dialog.tsx
  src/scripts/components/color-picker.tsx
  src/scripts/components/menu.tsx
  src/scripts/content-script.tsx
Due: biome, prettier

chore: update packages
  package.json
  pnpm-lock.yaml
  src/scripts/messages.ts
  website/package.json
Due: biome, prettier

website: strict type check
  website/src/pages/subscribe.tsx
  website/tsconfig.json
Due: biome

chore: remove scripts/test.ts
  package.json
  scripts/test.ts
Due: biome

Update README.zh-CN.md
  README.zh-CN.md
Due: prettier

donate ui
  safari-project/.gitignore
  safari-project/Podfile
  safari-project/Podfile.lock
  safari-project/iOS (App)/AppDelegate.swift
  safari-project/iOS (App)/Donate/DonateViewController.swift
  safari-project/iOS (App)/MainViewController.swift
  safari-project/uBlacklist for Safari (iOS).entitlements
  safari-project/uBlacklist for Safari.xcodeproj/project.pbxproj
Due: none

donate implemention
  safari-project/iOS (App)/AppConstants.swift
  safari-project/iOS (App)/AppDelegate.swift
  safari-project/iOS (App)/Common/Intl/en.lproj/Localizable.strings
  safari-project/iOS (App)/Common/Intl/ja.lproj/Localizable.strings
  safari-project/iOS (App)/Common/Intl/zh-Hans.lproj/Localizable.strings
  safari-project/iOS (App)/Common/Intl/zh-Hant.lproj/Localizable.strings
  safari-project/iOS (App)/Donate/DonateViewController.swift
  safari-project/iOS (App)/MainViewController.swift
Due: none

fix
  .gitignore
  safari-project/iOS (App)/AppDelegate.swift
  safari-project/iOS (App)/Common/Toast.swift
  safari-project/iOS (App)/Donate/DonateViewController.swift
  safari-project/iOS (App)/MainViewController.swift
  safari-project/uBlacklist for Safari.xcodeproj/project.pbxproj
Due: none

Update introduction.md
  website/docs/introduction.md
Due: prettier

Update and rename to Remove
  website/docs/Remove
Due: none

Update and rename introduction.md to Remove
  website/docs/Remove
Due: none

Updated german messages.json.ts
  src/_locales/de/messages.json.ts
Due: biome

Added an url for yandex.ru
  src/common/search-engines.ts
Due: biome

Path conditions:
  biome: any of: *.{js,cjs,mjs,ts,cts,mts,jsx,tsx,json,jsonc}
  prettier: any of: *.{css,yml,yaml,md,markdown}
