Repository iorate/ublacklist: changes, and which lefthook commands are due for each by the changed paths.
All: biome, prettier

biome:
  run: pnpm biome check --apply --no-errors-on-unmatched {staged_files}
  stage_fixed: true

prettier:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

chore: exclude @ublacklist/* packages from the minimum release age (#848)
  pnpm-workspace.yaml
Due: prettier

replace the local serpinfo core with @ublacklist/serpinfo
  package.json
  pnpm-lock.yaml
  src/scripts/serpinfo/commands.ts
  src/scripts/serpinfo/content-script.ts
  src/scripts/serpinfo/filter.ts
  src/scripts/serpinfo/options.tsx
  src/scripts/serpinfo/parse.ts
  src/scripts/serpinfo/schemas.ts
  src/scripts/serpinfo/settings.ts
  src/scripts/serpinfo/types.ts
  src/scripts/zod/discriminated-tuple-union.test.ts
  src/scripts/zod/discriminated-tuple-union.ts
Due: biome, prettier

refactor: replace the local serpinfo core with @ublacklist/serpinfo (#849)
  package.json
  pnpm-lock.yaml
  src/scripts/serpinfo/commands.ts
  src/scripts/serpinfo/content-script.ts
  src/scripts/serpinfo/filter.ts
  src/scripts/serpinfo/options.tsx
  src/scripts/serpinfo/parse.ts
  src/scripts/serpinfo/schemas.ts
  src/scripts/serpinfo/settings.ts
  src/scripts/serpinfo/types.ts
  src/scripts/zod/discriminated-tuple-union.test.ts
  src/scripts/zod/discriminated-tuple-union.ts
Due: biome, prettier

implement the extraSelector property for SERPINFO results
  src/scripts/serpinfo/constants.ts
  src/scripts/serpinfo/content-script.ts
  src/scripts/serpinfo/filter.ts
  src/scripts/serpinfo/style-builders.test.ts
  src/scripts/serpinfo/style-builders.ts
Due: biome

feat(serpinfo): add the extraSelector property to result definitions (#850)
  src/scripts/serpinfo/constants.ts
  src/scripts/serpinfo/content-script.ts
  src/scripts/serpinfo/filter.ts
  src/scripts/serpinfo/style-builders.test.ts
  src/scripts/serpinfo/style-builders.ts
Due: biome

replace the local match-pattern module with @ublacklist/match-pattern
  package.json
  pnpm-lock.yaml
  src/common/match-pattern.test.ts
  src/common/match-pattern.ts
  src/scripts/options/subscription-section.tsx
  src/scripts/ruleset/ruleset.ts
  src/scripts/serpinfo/content-script.ts
  src/scripts/serpinfo/popup.tsx
  src/scripts/serpinfo/settings.ts
Due: biome, prettier

refactor: replace the local match-pattern module with @ublacklist/match-pattern (#851)
  package.json
  pnpm-lock.yaml
  src/common/match-pattern.test.ts
  src/common/match-pattern.ts
  src/scripts/options/subscription-section.tsx
  src/scripts/ruleset/ruleset.ts
  src/scripts/serpinfo/content-script.ts
  src/scripts/serpinfo/popup.tsx
  src/scripts/serpinfo/settings.ts
Due: biome, prettier

replace the local ruleset module with @ublacklist/ruleset
  package.json
  pnpm-lock.yaml
  src/scripts/block-dialog.tsx
  src/scripts/interactive-ruleset.test.ts
  src/scripts/interactive-ruleset.ts
  src/scripts/popup.tsx
  src/scripts/ruleset/domains.test.ts
  src/scripts/ruleset/lang.ts
  src/scripts/ruleset/parser.generated.ts
  src/scripts/ruleset/ruleset.grammar
  src/scripts/ruleset/ruleset.test.ts
  src/scripts/ruleset/ruleset.ts
  src/scripts/ruleset/utils.ts
  src/scripts/serpinfo/dialog.tsx
  src/scripts/serpinfo/filter.ts
  src/scripts/utilities.ts
  src/third-party-notices.txt
Due: biome, prettier

refactor: replace the local ruleset module with @ublacklist/ruleset (#852)
  package.json
  pnpm-lock.yaml
  src/scripts/block-dialog.tsx
  src/scripts/interactive-ruleset.test.ts
  src/scripts/interactive-ruleset.ts
  src/scripts/popup.tsx
  src/scripts/ruleset/domains.test.ts
  src/scripts/ruleset/lang.ts
  src/scripts/ruleset/parser.generated.ts
  src/scripts/ruleset/ruleset.grammar
  src/scripts/ruleset/ruleset.test.ts
  src/scripts/ruleset/ruleset.ts
  src/scripts/ruleset/utils.ts
  src/scripts/serpinfo/dialog.tsx
  src/scripts/serpinfo/filter.ts
  src/scripts/utilities.ts
  src/third-party-notices.txt
Due: biome, prettier

dedupe @ublacklist/match-pattern
  pnpm-lock.yaml
Due: prettier

chore: dedupe @ublacklist/match-pattern (#853)
  pnpm-lock.yaml
Due: prettier

generate third-party notices from the esbuild bundle
  licenses/is-mobile.txt
  package.json
  pnpm-lock.yaml
  scripts/build.ts
  scripts/generate-third-party-notices.ts
  scripts/get-license-texts.ts
  src/third-party-notices.txt
Due: biome, prettier

fix: show third-party notices for the actually bundled dependencies (#854)
  licenses/is-mobile.txt
  package.json
  pnpm-lock.yaml
  scripts/build.ts
  scripts/generate-third-party-notices.ts
  scripts/get-license-texts.ts
  src/third-party-notices.txt
Due: biome, prettier

refactor `getLicenseTexts`
  scripts/get-license-texts.ts
Due: biome

build: refactor `getLicenseTexts` (#855)
  scripts/get-license-texts.ts
Due: biome

update esbuild
  package.json
  pnpm-lock.yaml
Due: biome, prettier

chore: update esbuild (#856)
  package.json
  pnpm-lock.yaml
Due: biome, prettier

set aria-label on svg elements so it is announced
  src/scripts/serpinfo/commands.ts
  src/scripts/serpinfo/content-script.ts
Due: biome

fix: announce button labels by setting aria-label on svg elements (#857)
  src/scripts/serpinfo/commands.ts
  src/scripts/serpinfo/content-script.ts
Due: biome

update and pin dependencies
  .github/workflows/ci.yml
  .github/workflows/crowdin.yml
  .github/workflows/release.yml
  biome.json
  package.json
  pnpm-lock.yaml
Due: biome, prettier

chore: update and pin dependencies (#858)
  .github/workflows/ci.yml
  .github/workflows/crowdin.yml
  .github/workflows/release.yml
  biome.json
  package.json
  pnpm-lock.yaml
Due: biome, prettier

introduce renovate for automated dependency updates
  .github/workflows/renovate.yml
  renovate.json
Due: biome, prettier

ci: introduce Renovate for automated dependency updates (#859)
  .github/workflows/renovate.yml
  renovate.json
Due: biome, prettier

add playwright e2e tests for blocking
  e2e/.gitignore
  e2e/fixtures/extension.ts
  e2e/helpers/messaging.ts
  e2e/helpers/pages.ts
  e2e/helpers/routes.ts
  e2e/mocks/mock-serp.html
  e2e/mocks/mock-serpinfo.yml
  e2e/playwright.config.ts
  e2e/tests/blocking.spec.ts
  package.json
  pnpm-lock.yaml
  scripts/build.ts
  src/common/globals.ts
  src/scripts/block-dialog.tsx
  src/scripts/browser.ts
  src/scripts/components/split-button.tsx
  src/scripts/serpinfo/background.ts
  tsconfig.json
Due: biome, prettier

add e2e job to ci workflow
  .github/workflows/ci.yml
Due: prettier

test: add Playwright e2e tests for SERP blocking (#861)
  .github/workflows/ci.yml
  e2e/.gitignore
  e2e/fixtures/extension.ts
  e2e/helpers/messaging.ts
  e2e/helpers/pages.ts
  e2e/helpers/routes.ts
  e2e/mocks/mock-serp.html
  e2e/mocks/mock-serpinfo.yml
  e2e/playwright.config.ts
  e2e/tests/blocking.spec.ts
  package.json
  pnpm-lock.yaml
  scripts/build.ts
  src/common/globals.ts
  src/scripts/block-dialog.tsx
  src/scripts/browser.ts
  src/scripts/components/split-button.tsx
  src/scripts/serpinfo/background.ts
  tsconfig.json
Due: biome, prettier

remove unused API secrets from build check
  .github/workflows/ci.yml
Due: prettier

ci: remove unused API secrets from build check (#862)
  .github/workflows/ci.yml
Due: prettier

simplify the SERP blocking e2e test and verify reload persistence
  e2e/helpers/messaging.ts
  e2e/helpers/pages.ts
  e2e/helpers/routes.ts
  e2e/mocks/google-serp.html
  e2e/mocks/google-serpinfo.yml
  e2e/playwright.config.ts
  e2e/tests/blocking.spec.ts
Due: biome, prettier

test: simplify the SERP blocking e2e test and verify reload persistence (#863)
  e2e/helpers/messaging.ts
  e2e/helpers/pages.ts
  e2e/helpers/routes.ts
  e2e/mocks/google-serp.html
  e2e/mocks/google-serpinfo.yml
  e2e/playwright.config.ts
  e2e/tests/blocking.spec.ts
Due: biome, prettier

group dependency updates separately in release notes
  cliff.toml
Due: none

ci: group dependency updates separately in release notes (#866)
  cliff.toml
Due: none

align minimumReleaseAge with renovate cooldown
  pnpm-workspace.yaml
Due: prettier

chore: align pnpm minimumReleaseAge with renovate cooldown (#867)
  pnpm-workspace.yaml
Due: prettier

Introduce Changesets for release management
  .changeset/README.md
  .changeset/config.json
  .github/workflows/publish.yml
  .github/workflows/release.yml
  cliff.toml
  package.json
  pnpm-lock.yaml
  release/approval-notes.txt
  renovate.json
  scripts/build.ts
  scripts/extract-release-notes.test.ts
  scripts/extract-release-notes.ts
  src/common/globals.ts
Due: biome, prettier

Replace changeset tag with changeset publish in release workflow
  .github/workflows/release.yml
Due: prettier

Introduce Changesets for release management (#868)
  .changeset/README.md
  .changeset/config.json
  .github/workflows/publish.yml
  .github/workflows/release.yml
  cliff.toml
  package.json
  pnpm-lock.yaml
  release/approval-notes.txt
  renovate.json
  scripts/build.ts
  scripts/extract-release-notes.test.ts
  scripts/extract-release-notes.ts
  src/common/globals.ts
Due: biome, prettier

Add timeouts and concurrency guards to workflows
  .github/workflows/ci.yml
  .github/workflows/crowdin.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  .github/workflows/renovate.yml
Due: prettier

Add timeouts and concurrency guards to workflows (#869)
  .github/workflows/ci.yml
  .github/workflows/crowdin.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  .github/workflows/renovate.yml
Due: prettier

Run pre-commit hooks serially to avoid pnpm symlink race
  lefthook.yml
Due: prettier

Path conditions:
  biome: any of: *.{js,cjs,mjs,ts,cts,mts,jsx,tsx,json,jsonc}
  prettier: any of: *.{css,yml,yaml,md,markdown}
