Repository iorate/ublacklist: changes, and which lefthook commands are due for each by the changed paths.
All: biome, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    biome:
      glob: "*.{js,cjs,mjs,ts,cts,mts,jsx,tsx,json,jsonc}"
      run: pnpm biome check --apply --no-errors-on-unmatched {staged_files}
      stage_fixed: true
    prettier:
      glob: "*.{css,yml,yaml,md,markdown}"
      run: pnpm prettier --write {staged_files}
      stage_fixed: true

chore: quote globs in npm scripts
  package.json
  scripts/test.ts
Due: biome

ci: run crowdin action on push
  .github/workflows/crowdin.yml
Due: prettier

feat: add experimental Git platform sync support
  src/_locales/en/messages.json
  src/common/message-names.generated.ts
  src/scripts/background.ts
  src/scripts/background/clouds.ts
  src/scripts/background/raw-storage.ts
  src/scripts/background/sync.ts
  src/scripts/clouds/git-repo.test.ts
  src/scripts/clouds/git-repo.ts
  src/scripts/messages.ts
  src/scripts/options/sync-section.tsx
  src/scripts/types.ts
Due: biome

docs: update Chrome Web Store URLs to new domain
  README.de.md
  README.md
  README.zh-CN.md
Due: prettier

ci: update Crowdin workflow to use GitHub App token and latest action version
  .github/workflows/crowdin.yml
Due: prettier

Revert "ci: update Crowdin workflow to use GitHub App token and latest action…"
  .github/workflows/crowdin.yml
Due: prettier

New Crowdin translations by GitHub Action
  src/_locales/de/messages.json
  src/_locales/ja/messages.json
Due: biome

wip: use crowdin/github-action@app_token
  .github/workflows/crowdin.yml
Due: prettier

wip: ensure credentials are not persisted
  .github/workflows/crowdin.yml
Due: prettier

wip: update crowdin/github-action version to v2.15.1
  .github/workflows/crowdin.yml
Due: prettier

ci: use GitHub App token for Crowdin pull requests (#744)
  .github/workflows/crowdin.yml
Due: prettier

Notes added by 'git notes add'
  17e599fa27494ec7e74df035cd42dbc89072d7b8
Due: none

chore: update dependencies
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
  src/pages/options.html
  src/pages/popup.html
  src/pages/serpinfo/options.html
  src/scripts/browser.ts
  tsconfig.json
Due: biome, prettier

ci: update workflows and use cache of pnpm/action-setup
  .github/actions/setup/action.yml
  .github/workflows/check.yml
  .github/workflows/crowdin.yml
  .github/workflows/deploy.yml
Due: prettier

ci: run check on push to master and before deploy of master
  .github/workflows/check.yml
  .github/workflows/crowdin.yml
  .github/workflows/deploy.yml
Due: prettier

docs: update documents for AI agents
  AGENTS.md
  docs/ruleset-spec.md
  docs/serpinfo-spec.md
Due: prettier

docs: add website discussion category and update contributor guidelines
  .github/DISCUSSION_TEMPLATE/bugs.yml
  .github/DISCUSSION_TEMPLATE/website.yml
  .github/ISSUE_TEMPLATE/config.yml
  CONTRIBUTING.md
  README.md
Due: prettier

New Crowdin translations by GitHub Action
  README.de.md
  README.zh-CN.md
  src/_locales/zh_CN/messages.json
  src/_locales/zh_TW/messages.json
Due: biome, prettier

docs: add discussion template for new ruleset requests
  .github/DISCUSSION_TEMPLATE/website-new-ruleset.yml
Due: prettier

chore(components): use inline-block for Select wrapper
  src/scripts/components/select.tsx
Due: biome

feat: let users choose initial sync direction (#515)
  src/_locales/en/messages.json
  src/common/message-names.generated.ts
  src/scripts/background/clouds.ts
  src/scripts/background/sync.ts
  src/scripts/messages.ts
  src/scripts/options/sync-section.tsx
  src/scripts/types.ts
Due: biome

New Crowdin translations by GitHub Action
  src/_locales/de/messages.json
  src/_locales/es/messages.json
  src/_locales/fr/messages.json
  src/_locales/ja/messages.json
  src/_locales/ko/messages.json
  src/_locales/pl/messages.json
  src/_locales/pt_BR/messages.json
  src/_locales/ru/messages.json
  src/_locales/tr/messages.json
  src/_locales/uk/messages.json
  src/_locales/zh_CN/messages.json
  src/_locales/zh_TW/messages.json
Due: biome

chore: add .claude/settings.local.json to .gitignore
  .gitignore
Due: none

docs: add serpinfo skill for Claude Code
  .claude/skills/serpinfo/SKILL.md
  .gitignore
Due: prettier

docs: trim AGENTS.md to non-obvious guidance
  AGENTS.md
Due: prettier

feat: allow renaming a subscription
  src/_locales/en/messages.json
  src/common/message-names.generated.ts
  src/scripts/background.ts
  src/scripts/background/local-storage.ts
  src/scripts/messages.ts
  src/scripts/options/subscription-section.tsx
Due: biome

address review: avoid setState during render in RenameSubscriptionDialog
  src/scripts/options/subscription-section.tsx
Due: biome

feat: allow renaming a subscription (#769)
  src/_locales/en/messages.json
  src/common/message-names.generated.ts
  src/scripts/background.ts
  src/scripts/background/local-storage.ts
  src/scripts/messages.ts
  src/scripts/options/subscription-section.tsx
Due: biome

chore: reorganize .gitignore and update tsconfig excludes
  .gitignore
  tsconfig.json
Due: biome

feat: support domains-format subscriptions
  docs/subscription-spec.md
  src/_locales/en/messages.json
  src/common/message-names.generated.ts
  src/scripts/background/backup-restore.ts
  src/scripts/background/subscriptions.ts
  src/scripts/background/sync.ts
  src/scripts/options/backup-restore-section.tsx
  src/scripts/options/options-context.tsx
  src/scripts/options/subscription-section.tsx
  src/scripts/ruleset/domains.test.ts
  src/scripts/ruleset/domains.ts
  src/scripts/types.ts
Due: biome, prettier

wip: always write subscription type on save
  src/scripts/background/backup-restore.ts
  src/scripts/background/sync.ts
  src/scripts/options/subscription-section.tsx
Due: biome

wip: drop docs/subscription-spec.md
  docs/subscription-spec.md
Due: prettier

wip: accept unknown subscription type for forward compat
  src/scripts/background/sync.ts
  src/scripts/options/backup-restore-section.tsx
  src/scripts/types.ts
Due: biome

wip: show subscription type badge in options
  src/scripts/components/badge.tsx
  src/scripts/options/subscription-section.tsx
Due: biome

wip: refine badge styling
  src/scripts/components/badge.tsx
  src/scripts/options/subscription-section.tsx
Due: biome

wip: accept ?name= in options URL
  src/scripts/options/options-context.tsx
Due: biome
