Repository iorate/ublacklist: changes, and which lefthook commands are due for each by the changed paths.
All: biome, prettier

biome:
  run: pnpm biome check --apply --no-errors-on-unmatched {staged_files}
  stage_fixed: true

prettier:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

docs: add Code of Conduct (#821)
  CODE_OF_CONDUCT.md
Due: prettier

add security policy
  SECURITY.md
Due: prettier

docs: add Security Policy (#822)
  SECURITY.md
Due: prettier

chore: pin virtualStoreDirMaxLength to 120 for AMO reproducible builds
  pnpm-workspace.yaml
Due: prettier

chore: pin virtualStoreDirMaxLength to 120 for AMO reproducible builds (#823)
  pnpm-workspace.yaml
Due: prettier

add actionlint and zizmor to CI
  .github/workflows/check.yml
  .github/workflows/ci.yml
  .github/workflows/crowdin.yml
Due: prettier

replace raven-actions/actionlint with direct install
  .github/workflows/ci.yml
Due: prettier

rename Check to CI, add actionlint and zizmor
  .github/workflows/ci.yml
  .github/workflows/crowdin.yml
  .github/workflows/release.yml
Due: prettier

ci: rename Check to CI, add actionlint and zizmor (#828)
  .github/workflows/ci.yml
  .github/workflows/crowdin.yml
  .github/workflows/release.yml
Due: prettier

remove serpinfo skill and related .gitignore entries
  .claude/skills/serpinfo/SKILL.md
  .gitignore
Due: prettier

chore: remove serpinfo skill (#829)
  .claude/skills/serpinfo/SKILL.md
  .gitignore
Due: prettier

add Microsoft Edge build target
  .github/workflows/ci.yml
  scripts/build.ts
  src/common/globals.ts
  src/manifest.ts
  src/scripts/browser.ts
  src/scripts/clouds/helpers.ts
  src/scripts/options/sync-section.tsx
Due: biome, prettier

add Microsoft Edge Add-ons to release pipeline (wepub update pending)
  .github/workflows/release.yml
  AGENTS.md
  CONTRIBUTING.md
  README.md
  release/approval-notes.template.txt
  release/notes-for-certification.template.txt
Due: prettier

bump @iorate/wepub to 0.4.2
  package.json
  pnpm-lock.yaml
Due: biome, prettier

Update README.md
  README.md
Due: prettier

move git-cliff and wepub from dev dependencies to CI install actions
  .github/workflows/release.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: biome, prettier

write release artifacts to RUNNER_TEMP instead of dist
  .github/workflows/release.yml
Due: prettier

rename "Microsoft Edge Add-ons" to "Edge Add-ons"
  .github/workflows/release.yml
  README.md
Due: prettier

fix broken Edge Add-ons store link in README
  README.md
Due: prettier

feat: add Microsoft Edge build target (#824)
  .github/workflows/ci.yml
  .github/workflows/release.yml
  AGENTS.md
  CONTRIBUTING.md
  README.md
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  release/approval-notes.template.txt
  release/notes-for-certification.template.txt
  scripts/build.ts
  src/common/globals.ts
  src/manifest.ts
  src/scripts/browser.ts
  src/scripts/clouds/helpers.ts
  src/scripts/options/sync-section.tsx
Due: biome, prettier

New Crowdin translations by GitHub Action
  README.de.md
  README.zh-CN.md
Due: prettier

split release workflow into per-store publish jobs
  .github/workflows/release.yml
Due: prettier

ci: split release workflow into per-store publish jobs (#832)
  .github/workflows/release.yml
Due: prettier

fix incorrect SHA pins for artifact actions
  .github/workflows/release.yml
Due: prettier

ci: fix incorrect SHA pins for artifact actions (#833)
  .github/workflows/release.yml
Due: prettier

omit cookies in webdav requests
  src/scripts/clouds/webdav.ts
Due: biome

fix: omit cookies in WebDAV requests (#837)
  src/scripts/clouds/webdav.ts
Due: biome

use a single URL field for WebDAV sync
  src/_locales/en/messages.json
  src/common/message-names.generated.ts
  src/scripts/options/sync-section.tsx
Due: biome

fix: use a single URL field for WebDAV sync (#838)
  src/_locales/en/messages.json
  src/common/message-names.generated.ts
  src/scripts/options/sync-section.tsx
Due: biome

New Crowdin translations by GitHub Action
  src/_locales/de/messages.json
  src/_locales/es/messages.json
  src/_locales/fr/messages.json
  src/_locales/ja/messages.json
  src/_locales/ko/messages.json
  src/_locales/pl/messages.json
  src/_locales/pt_BR/messages.json
  src/_locales/ru/messages.json
  src/_locales/tr/messages.json
  src/_locales/uk/messages.json
  src/_locales/zh_CN/messages.json
  src/_locales/zh_TW/messages.json
Due: biome

reword the WebDAV sync description for the single URL field
  src/_locales/en/messages.json
Due: biome

chore: reword the WebDAV sync description for the single URL field (#840)
  src/_locales/en/messages.json
Due: biome

declare no data collection in the Firefox manifest
  src/manifest.ts
Due: biome

chore(firefox): declare no data collection in the manifest (#842)
  src/manifest.ts
Due: biome

produce a keyless Edge package for the Edge Add-ons store
  .github/workflows/release.yml
  scripts/build.ts
  src/manifest.ts
Due: biome, prettier

ci(edge): produce a keyless package for the Edge Add-ons store (#843)
  .github/workflows/release.yml
  scripts/build.ts
  src/manifest.ts
Due: biome, prettier

set GH_REPO so the release job can create the release without a checkout
  .github/workflows/release.yml
Due: prettier

ci: set GH_REPO so the release job can create the GitHub release (#844)
  .github/workflows/release.yml
Due: prettier

exclude @ublacklist/* packages from the minimum release age
  pnpm-workspace.yaml
Due: prettier

Path conditions:
  biome: any of: *.{js,cjs,mjs,ts,cts,mts,jsx,tsx,json,jsonc}
  prettier: any of: *.{css,yml,yaml,md,markdown}
